/* ===================================
	all-grid header & site menu options
======================================*/

.all-grid__header {
	min-height: var(--grid-base);
	//padding: var(--ui-spacer);
	display: flex;
	flex-direction: column;
	justify-content: center;
	&.header--menuplain {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: var(--grid-spacer);
		align-content: center;
		align-items: center;
	}
}

.menu--plain {
	grid-column-end: -1;
	padding: var(--grid-spacer) 0;
	li {
		&.active a {
			color: var(--menuTextActiveColour);
		}
	}
}



	.menu--hamburger { // hamburger version
		display: none;
		position: fixed;
		z-index: 10;
		top: 0;
		bottom: 0;
		right: 0;
		width: calc(66.66vw + (var(--grid-spacer) * 2));
		@include breakpoint($desktop) {
			width: calc(33.33vw + (var(--grid-spacer) * 2));
		}
		overflow: auto;
		background-color: var(--menuBackgroundColour);
		color: var(--menuTextColour);

		.nav-is-active & {
			display: block;
		}

	}

.menu--formal {
 	 	padding: 0 var(--grid-spacer);
		> ul {
			 display: flex;
			 height: 100%;
			 flex-direction: column;
			 //justify-content: space-between;
			 padding-bottom: var(--grid-base);
		}

		li {
			&:first-child {
				min-height: var(--grid-base);
				display: flex;
				flex-direction: column;
				justify-content: center;
				+ li {
					margin-top: 0;
				}
			}
			a {
				color: var(--menuTextColour);
				&:hover {
					color: var(--menuTextActiveColour);
				}
			}
			&.active a {
				color: var(--menuTextActiveColour);
			}

			p {
				margin-top: calc(var(--baseline) /4);
				font-family: initial;
				font-size: small;
				font-weight: var(--type-weight);
				line-height: initial;
				letter-spacing: initial;
				text-transform: initial;
				color: var(--grey3);
			}
		}
}


.menu--grid {
	> ul {
			--flow-space: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: var(--grid-base);
				grid-auto-rows: minmax(var(--grid-base),1fr);
				height: 100%;
				li {
					@extend .bg--mix;
					&:first-child {
						grid-column: span 2;
						a {
							color: var(--charcoal);
						}
						p {
							color: rgba(black,.3);

						}
					}
 	 				padding: calc(var(--grid-spacer)/2);

					> a {
						height: 100%;
						display: grid;
						align-content: flex-end;
					}
			}

			p {
				margin-top: calc(var(--grid-spacer) / 2);
				color: rgba(white,.5);
				@extend .t--small;
			}
	}

}


.menu--drop {
	margin-bottom: var(--grid-spacer);
}
.menu--drop__holder {
	label{
		font-size: smaller;
		color: var(--selectionColour);
		&:after{
			content: ':'
		}
	}
	> li {
		display: flex;
		grid-gap: var(--ui-spacer);
	}
}

.menu--drop__inner {
	display: flex;
	grid-gap: calc(var(--ui-spacer) / 2);
	li {
		//display: none;
		font-size: smaller;
		&.active a {
			color: var(--menuTextActiveColour);
		}
	}

}

