/* ===================================
	all-grid thumbs
======================================*/
.all-grid__thumb {
	position: relative;

	&.has--image-landscape {
		grid-column: span 3;
		grid-row: span 2;
	}
	
	&.has--image-portrait  {
		grid-column: span 2;
		grid-row: span 3;
	}
	
	&.has--image-square  {
		grid-row: span 2;
		grid-column: span 2;
	}
	
	[itemprop="headline"] {
		@extend .u-hug;
		display: flex;
		padding-left: var(--grid-spacer);
		padding-right: var(--grid-spacer);
		padding-bottom: var(--grid-spacer);
		align-items: flex-end;
		//background-color: rgba(94,96,97,.3);
		//transition: background-color .6s ease-out;
		color: white;
		span {
			@extend .line-clamp;
		}
		text-shadow: 0 0 .75rem rgba(black,.25);
		transition: transform .3s ease;
		transform-origin: bottom left;
	}
	&:hover [itemprop="headline"] {
    transform: scale(1.01);
	}
	

	&.has--image-omitted {
		grid-row: span 2;
		grid-column: span 2;
		min-height: var(--grid-base);
		padding: var(--grid-spacer);
		[itemprop="description"] {
			@extend .flow;
				@extend .line-clamp;
				-webkit-line-clamp: 1;
			p {
				color: white;
			}
			@include breakpoint($portrait) {
				display: none;
			}
		}
		[itemprop="headline"] {
			text-shadow: none;
		}
	}

}
