/* ===================================
	all-grid
======================================*/


/*
	grid containers
======================================*/

.all-grid {
	display: grid;
	grid-gap: var(--grid-spacer);
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(var(--grid-base), 1fr));
	.listing-page :not(.all-grid--hero) & {
		grid-auto-rows: var(--grid-base);//minmax(10vw,var(--grid-base));
	}
}

.all-grid--hero { // full width background image
	display: grid;
	grid-template-columns: 1fr; // stretch to the full frame
	//grid-template-rows: calc(var(--grid-base)* 4); // approx 3:2 ratio
	grid-gap: 0;
	align-content: center;
	justify-content: center;
}

.all-grid--detail { // used on detail pages
	grid-template-columns: repeat(3, 1fr);
	
	[itemprop="articleBody"]{
		position: relative; // to aid in positioning the image edit button if image is in body field.
	}
}

.all-grid--centered {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: calc(var(--grid-base) * 3);
	
	> * {
		padding: var(--grid-spacer);
	}
}



/*
	all-grid--hero variants & parts
======================================*/

.all-grid--hero {
	margin-bottom: var(--grid-spacer);
	[itemprop="headline"],
	[itemprop="description"] {
		color: var(--white);
	}
	&.has--image-omitted { // applies to articles with no article images
		max-width: var(--type-measure);
		margin-left: auto;
		margin-right: auto;
		[itemprop="articleBody"]{
			@extend .flow;
			padding: calc(var(--grid-spacer) * 2);
		}
	}
	
	&.has--image-portrait {
		[itemprop="articleBody"]{
			@extend .flow;
			padding: calc(var(--grid-spacer) * 2);
		}

		@include breakpoint($landscape) {
			grid-template-columns: 1fr 1fr;
			[itemprop="articleBody"]{
				grid-area: 1 / 2 / 2 / -1;
				padding-top: 0;
				.hamburger--is-active & {
					padding-right: var(--hamburger-track-width); // allow for hamburger track
				}
			}
		}
	}

	&.has--image-landscape {
		[itemprop="articleBody"]{
			padding: calc(var(--grid-spacer) * 2);
			@include breakpoint($landscape) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: var(--grid-spacer);
				> * {
					&:nth-child(even) {
						.hamburger--is-active & {
							padding-right: var(--hamburger-track-width); // allow for hamburger track
						}
					}
				}
			}
		}
	}
	
}


	.all-grid--hero__image {
		z-index: 0;
		grid-area: 1 / 1 / 2 / 2;
		display: grid;
	}

	.all-grid--hero__overlay{
		z-index: 1;
		grid-area: 1 / 1 / 2 / 2;
		display: grid;
		max-width: 100%;
		background: linear-gradient(60deg,rgba(black, 0.38) 30%,rgba(black, 0) 100%); // start at black at the bottom left'ish and goes at a 60% angle. This will make the white easy to read with nearly any image.
		.has--image-omitted & {
			display: none;
		}
	}
	
	.all-grid--hero__text{
		z-index: 2;
		grid-area: 1 / 1 / 2 / 2;
		display: grid;
		align-items: flex-end;
		padding: calc(var(--grid-spacer) * 2);
		
		.has--image-portrait &{
			align-items: flex-start;
			[itemprop="description"] {
				margin-right: 50%;
			}
		}
		
	}
	
	



/*
	all-grid--detail variants & parts
======================================*/

.all-grid--detail {

	&.has--image-omitted {
		@extend .flow;
		display: block;
		max-width: var(--type-measure);
		margin-left: auto;
		margin-right: auto;
		padding: var(--grid-spacer);
	}
	&.has--image-portrait  {
		grid-column: span 3;
		grid-row: span 3;
		.image--is-first {
			grid-column: span 3;
			@include breakpoint($landscape) {
				grid-column: span 2;
			}
		}
	}
	

	&.has--image-landscape  {
		grid-column: span 3;
		grid-row: span 2;
		.image--is-first {
			grid-column: span 3;
			grid-row: span 2;
		}
		
	}
	
	.image--is-first {
		figcaption {
			position: absolute;
			bottom: 0;
			filter: drop-shadow(0px 0px 10px rgba(0,0,0,.75));
			p, a {
				color: white;
			}
			
		}
	}

	header,
	[itemprop="description"],
	[itemprop="articleBody"] {
		padding: var(--grid-spacer);
	}
	
	[itemprop="description"] {
		grid-column: span 2;
		.hamburger--is-active & {
			padding-right: var(--hamburger-track-width); // allow for hamburger track
		}
	}
	[itemprop="articleBody"] {
		grid-column: span 3;
		max-width: var(--type-measure);
		margin-left: auto;
		margin-right: auto;
		.hamburger--is-active & {
			padding-right: var(--hamburger-track-width); // allow for hamburger track
		}
	}


		.image--is-landscape {
			grid-column: span 2;
			grid-row: span 1;
			&:nth-of-type(even) {
				grid-column-end: -1;
				figcaption {
					padding-left: 0;
				}
			}
		}
		
		.image--is-portrait  {
			grid-column: span 1;
			grid-row: span 2;
		}
		
		.image--is-square  {
			grid-row: span 2;
			grid-column: span 2;
		}
	figcaption {
		padding: var(--grid-spacer);
	}
}


