/* ===================================
	all-grid header & site menu options
======================================*/

.all-grid__header {
	min-height: var(--grid-base);
	padding: var(--grid-spacer);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	.header--hamburger {
		padding-right: 10vw;  // allow space for hamburger button
	}


.all-grid__menu { // default version
	> ul {
		display: flex;
		flex-wrap: flex;
	}

	li {
		position: relative;
		min-width: clamp(6ch,10vw,24ch);
		max-width: clamp(12ch,20vw,36ch);
		
		margin-right: calc(var(--grid-spacer)*2);
		&:last-child {
			margin-right: 0;
		}
		
		a:hover {
			color: --hoverColour;
		}
		
		&.active a {
			display: block;
			color: var(--selectionColour);
		}
	}

}



	.menu--hamburger { // hamburger version
		display: none;
		position: fixed;
		z-index: 10;
		width: 50%;
		top: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		padding-top: var(--grid-base);
		padding-left: 5vw;
		padding-right: 5vw;
		background-color: var(--menuBackgroundColour);
		
		> ul {
			display: block;
		}
		.nav-is-active & {
			display: flex;
			flex-direction: column;
		}

		li {
			position: relative;
			display: block;
			margin-right: 0;
			min-width: inherit;
			max-width: inherit;
			a {
				color: var(--menuTextColour);
			//	font-size: calc(.5rem + var(--uifontsize));
			}
			
		}
	}



