/* ===================================
	footer
======================================*/

.site-footer {
	display: grid;
	grid-template-columns: 1fr; // stretch to the full frame
	grid-gap: 0;
	align-content: center;
	justify-content: center;

	background-color: var(--footerBackgroundColour);
	margin-top: var(--grid-base);
	min-height: var(--grid-base);
}