/* ===================================
	images
======================================*/

img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.image {
	position: relative;
}

	.hide-figcaption figcaption {
		display: none;
	}
	
	figcaption p {
		color: var(--captionColour);
	}


.image--fill {
	height: 100%;
	width: 100%;
	
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}



