/* ===================================
	links
======================================*/

a {
	color: var(--linkColour);
	transition: color .3s, background-color .1s;

	&:hover {
		color: var(--hoverColour);
	}

	[itemprop="description"] &,
	[itemprop="articleBody"] & {
		color: inherit;
	}
}


.link {}


.link--plain,
.link--plain > * {
	text-decoration: none !important;
}

.links--dont-break-out a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.links-pagination {
	position: fixed;
	z-index: 20;
	right: var(--ui-spacer);
	--flow-space: .5em;
	margin-top: calc(var(--grid-spacer) / 1);
	a {
		@extend .link--plain;
		font-weight: 600;
		display: block;
		font-size: var(--h2);
		transition: transform .3s ease;
			&[rel="next"]:hover {
				transform: translateX(-.1em);
			}
			&[rel="prev"]:hover {
				transform: translateX(.2em);
			}
		//padding-left: var(--ui-spacer);
		//padding-right: var(--ui-spacer);

// 		span {
// 			width: 0;
// 			height: 0;
// 			border-top: calc(var(--ui-spacer) /2) solid;
// 			border-left: calc(var(--ui-spacer) /2) solid transparent;
// 			display: inline-block;
// 			vertical-align: middle;
// 		}
	}
//
// 	[rel="next"] span {
// 		//border: 1px solid red;
// 		transform: rotateZ(-135deg);
// 	}
//
// 	[rel="prev"] span {
// 		transform: rotateZ(45deg);
// 	}
}



.links-keywords {
	@extend .links-pagination;
}

.links-social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--ui-spacer);
	grid-column: minmax(calc(var(--grid-base) / 2), calc(var(--grid-base) * 2)) !important;
}

	.link--social  {
		width: var(--ui-spacer);
		filter: invert(100%) sepia(25%);
		span {
			display: none;
		}
	}

	.link--social__twitter {
		content: url(/themes/all-grid/styles/img/social-twitter.svg)
	}

	.link--social__facebook {
		content: url(/themes/all-grid/styles/img/social-facebook.svg)
	}

	.link--social__linkedin {
		content: url(/themes/all-grid/styles/img/social-linkedin.svg)
	}


	.link--social__instagram{
		content: url(/themes/all-grid/styles/img/social-instagram.svg)
	}



