/* ===================================
	globals
======================================*/


* {
	box-sizing: border-box;
}

::selection {
	background: var(--selectionColour);
	color: var(--white);
}

html {
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	$minScreen: 20rem;	// 320px
	$maxScreen: 160rem; // 2560px
	$minFont: .75rem;
	$maxFont: 1.25rem;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
	font-family: var(--baseFont);
	font-style: normal;
	font-weight: var(--type-weight);
	color: var(--bodyColour);
	background-color: var(--backgroundColour);
	line-height: var(--baseline);
	min-height: 100%;
// 	@include breakpoint($portrait) {
// 	}
//
// 	@include breakpoint($landscape) {
// 	}
	overflow-x: hidden;

}

.g-width-limited {
	padding: 0 var(--body-padding);
	.front-page &{
		max-width: var(--bodyfront-max-width);
	}
	.listing-page &{
		max-width: var(--bodylist-max-width);
	}
	.detail-page &{
		max-width: var(--bodydetail-max-width);
	}
	margin-left: auto;
	margin-right: auto;
}

.g-height-limited .image img {
height: 65vh;
}
