/* ===================================
	globals
======================================*/

* {
	box-sizing: border-box;
}

::selection {
	background: var(--selectionColour);
	color: var(--white);
}

html {
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
	font-family: var(--baseFont);
	font-style: normal;
	font-weight: var(--type-weight);
	color: var(--bodyColour);
	background-color: var(--backgroundColour);
	line-height: var(--baseline);
	min-height: 100%;
	@include breakpoint($portrait) {
	}
	
	@include breakpoint($landscape) {
	}
	overflow-x: hidden;
}
