/* ===================================
	flow: owl selector
======================================*/

// https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/?utm_campaign=CSS%2BLayout%2BNews&utm_medium=web&utm_source=CSS_Layout_News_176
.flow {
  --flow-space: 1em;
}  

.flow > * + * { 
  margin-top: 1em; // fallback
  margin-top: var(--flow-space);
}



