// ===================================
// Configuration
// ===================================

// https://www.smashingmagazine.com/2016/05/fluid-typography/



$minScreen: 20rem;	// 320px
$maxScreen: 160rem; // 2560px
$minFont: 1rem;
$maxFont: 1.62rem;

// http://type-scale.com





// ===================================
// Breakpoints
// ===================================

$mobile: 320px;
$small: 640px;
$medium: 960px;
$desktop: 1280px;
$landscape: ('min-aspect-ratio' '1/1');
$portrait: ('max-aspect-ratio' '1/1');


/* ===================================
	all-grid setup
======================================*/

:root {
	/* grid-base determines the size of the grid. Pixel units also work! */

	--grid-base: 15vw;
	--grid-spacer: 2vw;

	/* primary fontsize: applies to all elements in your html with the .all-grid--uifont class */

	--uifontsize: 4vmin; 	/* 4vmin = loud, 1vmin = quiet, other units work too  */

	/* typography: limited to containers with the .typography class */

	--type-measure: 40rem;
	--baseline: 1.5rem;
	--h1: 3rem;
	--h2: 2rem;
	--h3: 1.5rem;
	--h4: 1.25rem;
	--h5: 1rem;

	--hamburger-track-width: 7vw; // hamburger option is position fixed - allow for its vertical track
}

.all-grid--uifont {
	font-size: calc(.5rem + var(--uifontsize));
	line-height: 1.1;
	letter-spacing: -.04em;
	text-transform: lowercase;
	font-weight: 500;
}

