// ===================================
// Configuration
// ===================================

// https://www.smashingmagazine.com/2016/05/fluid-typography/



$minScreen: 20rem;	// 320px
$maxScreen: 160rem; // 2560px
$minFont: .81rem;
$maxFont: 1.62rem;

// http://type-scale.com





// ===================================
// Breakpoints
// ===================================

$mobile: 320px;
$small: 640px;
$medium: 960px;
$desktop: 1280px;
$landscape: ('min-aspect-ratio' '1/1');
$portrait: ('max-aspect-ratio' '1/1');
