// all-grid . http://all-sorts.biz

// t tool
// s settings
// b base
// g generic
// o object
// c component

@import "breakpoint-2.x.x/stylesheets/_breakpoint.scss";
@import "t.mixins";
@import "t.quantity-queries";

@import "s.config";



@import "b.reset";


@import "g.globals";
@import "b.typography";

@import "o.list-bare";
@import "o.flow";
//@import "o.ratios";




@import "c.logos-icons";
@import "c.links";
@import "c.little-hand";

@import "c.images";
@import "c.footer";

@import "c.all-grid"; // core grid definitions
@import "c.all-grid__header"; // header and site menu options
@import "c.all-grid__thumb"; // thumbnails (normally found on list pages)

@import "colours/s.colours-setup"; 

// utilities trump all other classes

.u-content-padding {
	padding: calc(var(--grid-spacer) * 2) var(--grid-spacer);
}

.u-pt {
	padding-top: 1rem;
}
.u-pb {
	padding-bottom: 1rem;
}

.u-hug {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.u-contents { // break out of box to help with display: grid
	display: contents;
}
