// all-grid . http://all-sorts.biz

// t tool
// s settings
// b base
// g generic
// o object
// c component

@import "breakpoint-2.x.x/stylesheets/_breakpoint.scss";
@import "t.mixins";
@import "t.quantity-queries";

@import "s.config";
@import "s.colours-setup";



@import "b.reset";


@import "g.globals";
@import "b.typography";

@import "o.list-bare";
@import "o.flow";
//@import "o.ratios";


@import "c.all-grid";


@import "c.logos-icons";
@import "c.links";
@import "c.little-hand";

@import "c.images";
@import "c.footer";


/* utilities trump all other classes */

.u-content-padding {
	padding: calc(var(--grid-spacer) * 2) var(--grid-spacer);
}

.u-pb {
	padding-bottom: 1rem;
}

.u-hug {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}