:root {
	/* grid-base determines the size of the grid. Pixel units also work */
	--grid-base: 15vmin;
	--grid-spacer: var(--ui-spacer);
	--ui-spacer: clamp(.5rem,3vw,2rem);
	/* hamburger option is position fixed - allow for its vertical track */
	--hamburger-track-width: 7vw;

	/* body width and padding */
	--body-padding: var(--ui-spacer);
	--bodyfront-max-width: 1280px;
	--bodylist-max-width: 1280px;
	--bodydetail-max-width: 1280px;


	/* Typography default */

	--type-measure: clamp(40rem, 62vw, 60rem);
	--baseline: 1.5rem;
	--h1: 3rem;
	--h2: 2rem;
	--h3: 1.5rem;
	--h4: 1.25rem;
	--h5: 1rem;
	--heading-weight: 400;
	--type-weight: 200;


	/* Typography UI (typically navigation, headers)
	containers with the .t-ui class */
	--uifontsize: clamp(1rem, 3vw, var(--h3));
	--uifont-family: var(--sans);
	--uiline-height: 1.1;
	--uiletter-spacing: -0.04em;
	--uitext-transform: lowercase;
	--uifont-weight: var(--heading-weight);



	/* Colours -- see http://all-grid.all-sorts.biz/about/colour-palette */

	/* Text colours */

	--headingColour: var(--white);
	--bodyColour: var(--white);
	--linkColour: var(--white);
	--hoverColour: white;
	--captionColour: var(--white);
	--selectionColour: var(--red);
	--menuTextColour: var(--black);
	--menuTextActiveColour: var(--bluepale);

	/* Background colours */

	--backgroundColour: var(--black);
	--menuBackgroundColour: var(--white); /* used for hamburger menu background only */
	--footerBackgroundColour: var(--black);
	--codeBackgroundColour: var(--charcoal);


	/* Fonts */

	--sans: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	--serif: Baskerville, Georgia, serif;
	--baseFont: var(--sans);
	--headingFont: var(--sans);

}



	/* Background colour mix (used for grid items without article images) */

.bg--mix:nth-child(6n+1) {
		background-color: var(--white);
		* {
  		mix-blend-mode: exclusion;
		}
}
.bg--mix:nth-child(6n+2) {
		background-color: var(--blue);
}
.bg--mix:nth-child(6n+3) {
		background-color: var(--blue8);
}
.bg--mix:nth-child(6n+4) {
		background-color: var(--purple);
}
.bg--mix:nth-child(6n+5) {
		background-color: var(--redbeige);
		* {
  		mix-blend-mode: exclusion;
		}
}
.bg--mix:nth-child(6n+6) {
		background-color: var(--red);
}


@import "all-grid-common";
@import "c.all-grids";
