.u_clamp {
  overflow: hidden;
  display: -webkit-box;
  box-orient: vertical;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  >p {
    margin-bottom: 0;
  }

  >*:not(:first-child) {
    display: none;
  }

  &--2 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  &--3 {
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}