/* scss/2-quarks/_q_code.scss */

code {
	font-family: Menlo, Courier, monospace;
	font-size: .6rem !important;
	background-color: #f3f3f3;
	border-radius: 0.3rem;
	color: var(--grey);
	pre & {
		display: inline-block;
		padding: $base-font-size;
	}
}


// Preformatted text.
pre {
	border-radius: 0.3rem;
	display: block;
	white-space: pre;
	white-space: pre-wrap;
//	word-break: break-all;
	word-wrap: break-word;
	margin-bottom: 1rem;
}
