/* scss/2-quarks/_q_details.scss */

summary {
	cursor: pointer;
	display: flex;
	list-style-type: none;
	//justify-content: space-between;
	> * {
		margin-top: 0;
	}
	&:focus {
		outline: none;
	}
	&::-webkit-details-marker,
	&::marker {
		display: none;
	}
	> *:after {
	  content: "+";
		font-size: inherit;
		@extend .a_heading !optional;
		line-height: 1;
		transition: transform .2s ease;
		margin-left: var(--base-unit--b);
	}

	&:hover > * :after {
		transform: scale(120%);
	}
}


details[open] summary > *:after {
  content: "-";
}

details[plain] summary> *:after {
	display: none;
}