/* scss/2-quarks/_q_figure.scss */

figure {
   > img {
      background-color: var(--black);
      color: transparent;
   }
}

figcaption {
     //@extend .u_flow;
     margin-top: var(--base-unit--s);
    > p {
        //@extend small;
       max-width: 75ch; // https://baymard.com/blog/line-length-readability
    }

     a {
       text-decoration: none;
       font-weight: 400;
     }

}
