/* scss/2-quarks/_q_forms.scss */

button {
	cursor: pointer;
	border: 2px solid var(--black);
	background: var(--white);
	&.plain {
		border: none;
	}

	&::-moz-focus-inner { //Button height fix for Firefox
	  padding: 0;
	  border: 0 none;
	}

	&:focus { //Focus fix for Chrome
	  outline: 0;
	}
}

input {
	border-bottom: 2px solid var(--black);
}
textarea {
	border: 2px solid var(--black);
}

input, textarea {
	background-color: var(--white);
	padding: var(--base-unit--ss);
}


label {
  display: none;
}


[type="submit"] {
  text-align: left;
  cursor: pointer;
}


.comThanks,
.comError {
}