/* scss/2-quarks/_q_hr.scss */

hr {
    border: 0;
    height: my-bs(.5);
    background: var(--black);
    margin-top: my-bs(-.25);
    margin-bottom: my-bs(.25);
    .bg--dark & {
        background: var(--white);
    }
}