/* scss/3-quarks/_q_tables.scss */

table {
    width: 100%;
}

th,
td:first-child {
    font-weight: 600;
}

th {
    padding-bottom: my-bs(1);
}

td,
th {
    text-align: left;
    vertical-align: baseline;
}

tr:first-child {
    width: max-content;
}


td {
    padding-right: var(--base-unit--ss);
    padding-bottom: my-bs(1);
    word-break: break-word;

}