/* ===================================
	all-grid-switch - see https://all-grid.all-sorts.biz/about/style-switched
======================================*/
body {
	padding-top: 1rem;
}

.all-grid-switch {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	padding: 0 var(--grid-spacer);
	padding-right: calc(var(--grid-spacer) * 2);
	background-color: var(--bodyColour);
	color: var(--backgroundColour);
	font-weight: normal;
	a {
		padding-left: .25em;
		text-decoration: none;
		color: var(--backgroundColour);
		display: none;
		&.active {
			display: block;
			text-decoration: underline;
		}
	}
	
	font-size: xx-small;
	transition: font-size .1s ease;
	&:hover {
		font-size: small;
		a {
			display: block;
		}
		ul:after {
			opacity: 0;
		}
	}
	
	ul {
		position: relative;
		display: flex;
		&:after{
			content: '❯';
			position: absolute;
			left: 100%;
			top: 0;
			margin-left: .25em;
		}
	}
}


// demo only
.preset {
	font-family: Menlo, Courier, monospace;
	background-color: var(--white);
	font-size: 10px;
	font-weight: 300;
	padding: var(--grid-spacer);
	margin-top: var(--grid-spacer);
	margin-right: 1em;
	vertical-align: top;
	dt {
		&:first-child {
			color: var(--black);
		}
		color: var(--grey);
		&:before {
			content: '// ';
		}
	}
	
	dd {
		padding-left: 3ch;
		color: var(--charcoal);
	}
}
