@charset "UTF-8";
/* ===================================
	all-grid-switch - see https://all-grid.all-sorts.biz/about/style-switched
======================================*/
body {
  padding-top: 1rem; }

.all-grid-switch {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  padding: 0 var(--grid-spacer);
  padding-right: calc(var(--grid-spacer) * 2);
  background-color: var(--bodyColour);
  color: var(--backgroundColour);
  font-weight: normal;
  font-size: xx-small;
  transition: font-size .1s ease; }
  .all-grid-switch a {
    padding-left: .25em;
    text-decoration: none;
    color: var(--backgroundColour);
    display: none; }
    .all-grid-switch a.active {
      display: block;
      text-decoration: underline; }
  .all-grid-switch:hover {
    font-size: small; }
    .all-grid-switch:hover a {
      display: block; }
    .all-grid-switch:hover ul:after {
      opacity: 0; }
  .all-grid-switch ul {
    position: relative;
    display: flex; }
    .all-grid-switch ul:after {
      content: '❯';
      position: absolute;
      left: 100%;
      top: 0;
      margin-left: .25em; }
