/* scss/7-utilities/_u_clamp.scss */

.u_clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  > p {
   margin-bottom: 0;;
  }
  > *:not(:first-child) {
    display: none;
  }

  &--2 {
    -webkit-line-clamp: 2;
  }
  &--3 {
    -webkit-line-clamp: 3;
  }
}