/* scss/7-utilities/_u_debug.scss */

.u_debug {
    outline: 1px solid rgba(red, .25);
    * {
        outline: 1px solid rgba(green, .25);
    }

    &--info{
        position: absolute;
        z-index: 10;
       top: my-bs(.5);
        left: var(--base-unit);
        font-size: .75rem;
        opacity: 0;
        transition: opacity .3s linear;
       .l_superimposed &,
       .m_thumb & {
            color: var(--white);
        }
        .has--image-omitted & {
            color: var(--black);
        }
        &.raised {
            margin-top: - my-bs(1);
        }
        &.static {
            position: static;
        }
    }

}

*:hover > .u_debug--info {
    opacity: 1;
}
