/* scss/7-utilities/_u_edit-in-txp.scss */

.u_edit-in-txp {

  position: absolute;
  z-index: 1;
  opacity: 1;
  //text-decoration: none;
  cursor: pointer;
  &.static {
    position: static;
    display: inline-block;
    margin-top: -.5em;
  }
  img {
    object-fit: contain;
    position: relative;
    top: var(--base-unit--ss);
    //left: .5ch;
  }

  &:hover {
    filter: invert(100%);
  }
}

.u_edit-in-txp--image {
  top: calc(var(--base-unit)/3);
  right:var(--base-unit--s);
  //filter: invert(100%);
  //opacity: .5;

  &:hover {
    filter: invert(100%);
   // opacity: 1;
  }

}
