/* scss/7-utilities/_u_hide.scss */

.u_hide {
  @media screen and (max-width: $small) {
    &--to-small {
       display: none;
    }
 }
  @media screen and (min-width: $small) {
     &--from-small {
        display: none;
     }
  }
  @media screen and (max-width: $medium) {
      &--to-medium {
         display: none;
      }
   }
    @media screen and (min-width: $medium) {
       &--from-medium {
          display: none;
       }
    }
  @media screen and (max-width: $desktop) {
        &--to-desktop {
           display: none;
        }
     }
      @media screen and (min-width: $desktop) {
         &--from-desktop {
            display: none;
         }
      }

  &--always {
        display: none;
  }
}