/* scss/7-utilities/_u_m.scss */

.u_m {


    &--t {
        margin-top: my-bs(1.5);

        &0 {
            margin-top: 0;
        }
    }

    &--tt {
        margin-top: my-bs(4.5);
    }

    &--l {
        margin-left: var(--base-unit);

        &0 {
            margin-left: 0;
        }
    }


    &--r {
        margin-right: var(--base-unit);

        &0 {
            margin-right: 0;
        }
    }

    &--b {
        margin-bottom: my-bs(1.5);

        &0 {
            margin-bottom: 0;
        }
    }

    @media (max-width: $small) {
        &--b {
            margin-bottom: my-bs(.75);
        }
    }

    &--bb {
        margin-bottom: my-bs(4.5);
    }

}