/* scss/7-utilities/_u_p0.scss */

.u_p {
    padding: my-bs(1.5) var(--base-unit);
    &--t {
        padding-top: my-bs(1.5);
        &t{
            padding-top: my-bs(3);
        }
        &0 {
            padding-top: 0;
        }
        &- {
            padding-top: my-bs(.75);
        }
    }

    &--l {
        padding-left: var(--base-unit);
        &- {
            padding-left: var(--base-unit--s);
        }
        &0 {
            padding-left: 0;
        }
    }

    &--r {
        padding-right: var(--base-unit);
        &- {
            padding-right: var(--base-unit--s);
        }
        &0 {
            padding-right: 0;
        }
    }

    &--b {
        padding-bottom: my-bs(1.5);
        &b {
            padding-bottom: my-bs(3);
        }
        &0 {
            padding-bottom: 0;
        }
        &- {
            padding-bottom: my-bs(.75);
        }
    }
}