/* scss/5-layouts/_l_beam.scss */

.l_beam {
    display: flex;
    width: 100%;

    &--wrap {
        flex-wrap: wrap;
    }

    &--spaced>* {
        margin-right: var(--base-unit--ss);
    }

    &.middle {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;

        > :last-child {
            margin-right: 0;
        }
    }

    @media (min-width: $small) {
        &.right\@small {
            justify-content: flex-end;

            > :last-child {
                margin-right: 0;
            }
        }
    }

    &.space-between {
        justify-content: space-between;

        > :last-child {
            margin-right: 0;
        }
    }

    &.middlev {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
        //align-content: flex-end;
    }

    &:empty {
        display: none;
    }
}