/* scss/6-layouts/_l_grid.scss */

.l_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: my-bs(1.5) var(--base-unit--s);

  &--gap-small {
    grid-gap: my-bs(.5) var(--base-unit--s);
  }

  &--twin {
    grid-template-columns: 1fr 1fr;
  }

  &--tri {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $small) {
    grid-gap: my-bs(1.5) var(--base-unit);

    &--twin\@small {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $medium) {
    &--twin\@medium {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $small) {
    &--tri\@small {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: $medium) {
    &--tri\@medium {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .self-right {
    justify-self: end;
  }

  @media (min-width: $medium) {
    .self-right\@medium {
      justify-self: end;
    }
  }



  &.top {
    // default
    align-items: start;
  }

  &.middlev {
    align-items: center;
    align-content: center;
  }

  &.bottom {
    align-items: end;
    align-content: end;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.left {
    // default
    justify-content: start;
  }

  &.middle {
    justify-content: center;
  }

  &.right {
    justify-content: end;
  }

  &--images {

    //grid-auto-flow: dense;
    .landscape {
      grid-column: span 2;
    }

    .landscape+.landscape {
      grid-column-end: -1;
    }

    .portrait {

      &:nth-of-type(even) {
        grid-row: span 2;
        grid-column: span 2;
      }
    }

    .portrait+.portrait {}
  }

  &--loose {

    >*:nth-of-type(2),
    >*:nth-of-type(5) {
      @media (min-width: $small) {
        grid-column: span 2;
        margin-right: 50%;
      }
    }

  }
}

.l_grid--masonry {
  display: grid;
  grid-gap: my-bs(1.5);

  .m_thumb {
    figure {
      aspect-ratio: auto;
    }

    img {
      object-fit: inherit;
      height: auto;
    }

    &.has--image-portrait img {
      aspect-ratio: 2/3;
    }

    &.has--image-landscape img {
      aspect-ratio: 3/2;
    }
  }

  @media (min-width: $small) {
    grid-gap: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: calc(var(--base-unit) * -1);

    .m_thumb {
      height: min-content;
      flex-direction: column;
      margin-right: var(--base-unit);
      margin-bottom: my-bs(1.5);
      position: relative;
      width: calc(33.333% - var(--base-unit));
      min-height: my-bs(15);


    }
  }

}