/* scss/6-layouts/_l_long.scss */


.l_long {
  @media (max-width: $small) {
    header {
      grid-gap: 0;
    }
  }

  &__thumb {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: $small) {
      grid-template-columns: 1fr 1fr 1fr;
    }


    grid-gap: my-bs(1.5) var(--base-unit);
    align-items: end;
    border-bottom: 2px solid var(--black);
    margin-bottom: my-bs(3);

    &.has--image-omitted {
      [itemprop="headline"] {
        grid-column-start: 2;
      }
    }

    >a {
      display: contents;
    }


    @media (max-width: $small) {
      [itemprop="description"] {
        grid-column: span 2;
        margin-top: - my-bs(1.5);
      }
    }

  }


}