/* scss/6-layouts/_l_superimposed.scss */

.l_superimposed {
    position: relative;


    &.has--image-omitted {
        @media (max-width: $small) {
            min-height: my-bs(6);
        }
    }

    &--fold-limited {
        @media (orientation: landscape) {
            height: 66vh;
        }

        @media (orientation: portrait) {
            height: 80vh;
        }
    }

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &.bg-gradient {
            background: var(--superimposed-bg);
        }

        &.bg-colour {
            background: var(--thumb-background-colour);
            color: var(--black);
        }

        color: var(--white);

        &--shiftingtiles {
            color: inherit;

            @media (max-width: $small) {
                background-color: var(--background-colour);
                height: max-content;
                padding-bottom: my-bs(1);
            }

            @media (min-width: $small) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-gap: var(--shiftingtiles-gap);

                >* {
                    background-color: var(--white);
                    padding: my-bs(.5) var(--base-unit--s);
                    margin: calc(var(--shiftingtiles-gap)* -.5);
                }

                [itemprop="headline"] {
                    grid-column-start: 2;
                    grid-row-start: 2;
                    display: grid;
                    align-items: end;
                }

                [itemprop="description"] {
                    grid-column-start: 3;
                    grid-row-start: 3;
                }
            }

        }

    }

    figure {
        height: 100%;
        width: 100%;
        background-color: var(--black);
    }

    [itemprop="description"]>*:last-child {
        margin-bottom: 0;
    }

}