[name="article_form"] .txp-layout {
  grid-template-areas: 'headng headng headng paging paging paging paging paging paging save__ save__ save__' 'title_ title_ title_ title_ title_ title_ title_ title_ title_ author author author' 'title_ title_ title_ title_ title_ title_ title_ title_ title_ action action action' 'excrpt excrpt excrpt body__ body__ body__ body__ body__ body__ srtdsp srtdsp srtdsp' 'cf3___ cf3___ cf3___ body__ body__ body__ body__ body__ body__ datesg datesg datesg' 'cfgrop cfgrop cfgrop body__ body__ body__ body__ body__ body__ catsgp catsgp catsgp' 'artimg artimg artimg artimg artimg artimg artimg artimg artimg metagp metagp metagp' 'artimg artimg artimg artimg artimg artimg artimg artimg artimg comtgp comtgp comtgp' 'artimg artimg artimg artimg artimg artimg artimg artimg artimg recent recent recent';
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-auto-rows: auto; }

[name="article_form"] .txp-layout-4col-3span,
[name="article_form"] .txp-layout-4col-alt,
[name="article_form"] #main_content,
[name="article_form"] #supporting_content,
[name="article_form"] #pane-text {
  display: contents; }

[name="article_form"] #supporting_content > * {
  grid-column-end: -1;
  grid-column: span 3;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }

[name="article_form"] .txp-heading {
  grid-area: headng; }

[name="article_form"] .txp-save-zone {
  grid-area: save__; }

[name="article_form"] .nav-tertiary {
  grid-area: paging; }

[name="article_form"] .txp-actions {
  grid-area: action; }

[name="article_form"] #txp-write-sort-group {
  grid-area: srtdsp; }

[name="article_form"] #txp-dates-group {
  grid-area: datesg; }

[name="article_form"] #txp-categories-group {
  grid-area: catsgp; }

[name="article_form"] #txp-meta-group {
  grid-area: metagp; }

[name="article_form"] #txp-comments-group {
  grid-area: comtgp; }

[name="article_form"] #txp-image-group {
  grid-area: artimg; }

[name="article_form"] #txp-custom-field-group {
  grid-area: cfgrop; }

[name="article_form"] #txp-recent-group {
  grid-area: recent; }

[name="article_form"] textarea {
  height: calc(100% - 1.5rem) !important;
  resize: vertical !important; }

[name="article_form"] .title {
  grid-area: title_; }

[name="article_form"] .author {
  grid-area: author;
  align-self: end; }

[name="article_form"] .txp-form-field-value {
  height: 100%; }

[name="article_form"] .body {
  grid-area: body__; }

[name="article_form"] .excerpt {
  grid-area: excrpt; }

[name="article_form"] .custom-1,
[name="article_form"] .video {
  grid-area: cf1___; }

[name="article_form"] .custom-3,
[name="article_form"] .cf-details {
  grid-area: cf3___;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  grid-gap: 0 1rem; }
  [name="article_form"] .custom-3 .txp-form-field-value,
  [name="article_form"] .cf-details .txp-form-field-value {
    grid-column: span 2; }
  [name="article_form"] .custom-3 .txp-form-field-instructions,
  [name="article_form"] .cf-details .txp-form-field-instructions {
    margin-top: .25rem; }

#txp-image-group-label + div + div {
  display: none; }

#txp-image-group-label.expanded + div + div {
  display: block; }

.ui-sortable-handle {
  max-width: calc(20% - .5rem); }

.bot_iu_ul_container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important; }
/*# sourceMappingURL=all_admin.css.map */