.a_icon {
  &--hamburger {
    //width: calc(var(--base-unit--b)*2);
    padding: var(--base-unit);
    //aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    --hamburger-gap: .25rem;
      transition: transform .3s ease-in-out;

    &:before,
    & div,
    &:after {
      background-color: var(--clr-text);
      //border-radius: 3px;
      content: '';
      display: block;
      width: 3ch;
      height: var(--border-width);
      margin: var(--hamburger-gap) 0;
      transition: transform .2s ease-in-out;
    }

    &.is-active {
      &:before {
        transform: translateY(calc(var(--hamburger-gap) * 2 + var(--border-width))) rotate(135deg);
      }

      & div {
        transform: scale(0);
      }

      &:after {
        transform: translateY(calc(var(--hamburger-gap) * -2 - var(--border-width))) rotate(-135deg);
      }
      &:hover {
        transform: scale(1.5);
      }
    }

    &:hover {
      @extend .is-active;
      transform: rotate(45deg);
   }
  }
}