/* scss/4-organisms/_o_header.scss */

.o_header {
  &--sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-colour);
  }
  h1:nth-child(1) {
    position: relative;
    z-index: 1;
  }
  // .banner-active & {
  //   display: block;
  //    position: fixed;
  //    top: 0;
  //   z-index: 100;
  //   ~ .sqm_panel {
  //     display: none;
  //   }
  // }

}