/* scss/4-organisms/_o_header.scss */
.o_header {
  .listing-page & {
    min-height: 25vh;
  }

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-colour);

    .listing-page & {
      @media (min-width: $medium) {
        top: calc(my-bs(8.5) - 25vh);
      }
    }
  }
}