/* scss/5-organisms/_o_lightbox.scss */


.o_lightbox {
  display: none;
  flex-direction: column;
        justify-content: center;

  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: var(--black);

  &__content {
    max-height: 100%;
  }

  &__caption {
    text-align: center;
   // color: #ccc;
    //padding: 10px 0;
    //height: 150px;
  }

}



.o_lightbox__content, .o_lightbox__caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

