/* scss/3-molecules/_m_menu.scss */

@mixin menubg {
    background-color: var(--whiteLC);
}
.m_menu {

  > a:empty {
    display: none;
  }

  &__child {
    &:not(.right > &){
      margin-right: var(--base-unit);
    }
    .gap-small &{
      margin-right: var(--base-unit--s)
    }


    .buttons & {
      padding: 0 var(--base-unit--ss);
      height: min-content;
      background: var(--black);
      color: var(--white);
      &--active,
      &:hover {
        background: var(--white);
        color: var(--black);
      }
    }

    &--active {
      a {
         @extend a:hover;
        // text-underline-offset: .15em;
        font-weight: 500;

      }
    }
  }

  &--drop-down {
    > li {
      position: relative;
      z-index: 2;
      &:hover ul {
        @media screen and (min-width: $medium) {
          display: block;
          z-index: -1;
        }
      }
    }

    ul {
      display: none;
      width: 100%;
      position: absolute;
      @include menubg();
    }
  }




  &--compact {
    position: relative;
    z-index:2;
    width: max-content;
    &__current {
        font-weight: 400;
        cursor: pointer;
        &:after{
          content:  url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMyAxMyIg
          ZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMDc1OTk5OSAwLjk1NDkwNUwxM
          S40MTIgNy42ODg5MUwyMi43NDggMC45NTQ5MDZMMjIuNzQ4IDYuMTI4OTFMMTEuNDEyIDEyLjY4MDlMMC4wNzU5OTk3IDYuMTAyOTFMMC
          4wNzU5OTk5IDAuOTU0OTA1WiIgZmlsbD0iIzI3MjcyNyIvPgo8L3N2Zz4K");
        display: inline-block;
        transform: scale(.62);
     }
    }

    &__holder {
      position: relative;
    > ul {
        display: none;
        position: absolute;
        z-index: -1;
        width: max-content;
        top: 0;
        height: max-content;
        padding-top: my-bs(1.5);
        padding-bottom: my-bs(2);
        padding-left: var(--base-unit);
        left: calc(var(--base-unit) * -1);
        @include menubg();

        .m_menu__child--active {
          display: none;
        }
      }
        }
    &:hover ul {
      display: block;
    }


  }

}