/* scss/4-molecules/_m_thumb.scss */
.m_thumb {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-gap: 0;
  &.has--2-rows {
    grid-row: span 2;
  }
  &.has--3-rows {
    grid-row: span 3;
  }

  >a {
    display: contents;
  }


  figure {
    align-self: end;
  }

  &__inner {
    >*:last-child {
      margin-bottom: 0;
    }
  }

  //   &.landscape figure {
  //     aspect-ratio: 3/2;
  //   }
  //   &.portrait figure {
  //     aspect-ratio: 2/3;
  //   }
  //   &.square figure {
  //     aspect-ratio: 1/1;
  //   }
  //
  //   video {
  //     aspect-ratio: 3/2;
  //     object-fit: cover;
  //   }
}