/* scss/3-atoms/_a_image.scss */

.a_image {
  position: relative; // allow for positioning of the .u_edit-in-txp component
  min-height: max-content;

  figcaption p {
    margin-bottom: 0;
    max-width: 100%;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &--contain img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }

  &--has-caption:not(.a_image--hide-caption) img {
    height: auto;
  }

  // see ken-burns-carousel
  &--pan {
    overflow: hidden;
  }

  &--hide-caption {
    figcaption {
      display: none;
    }
  }

  &--inline {
     // width: 50%;
    padding-bottom: my-bs(3);
    @media screen and (min-width: $medium) {
      padding-bottom: inherit;
      width: 33%;
      float: right;
      margin-left: var(--base-unit);
      &.large {
        width: 66%;
      }
    }

  }

}


ken-burns-carousel {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}