/* scss/3-atoms/_a_icon.scss */

.a_icon {
   display: inline-block;

   &--flip {
      transform: scaleX(-1);
   }

   &--invert {
      filter: invert(1);
   }

   &--rotate-right {
      transform: rotateZ(90deg);
   }

   &--rotate-left {
      transform: rotateZ(-90deg);
   }

   &--rotate-down {
      transform: rotateZ(180deg);
   }

   [rel="prev"] & {}

   [rel="next"] & {}
   &--social {
      &--twitter {
         &:after {
            content: url(../styles/img/social-twitter.svg);
         }
      }

      &--facebook {
         &:after {
            content: url(../styles/img/social-facebook.svg);
         }
      }

      &--linkedin {
         &:after {
            content: url(../styles/img/social-linkedin.svg);
         }
      }

      &--instagram {
         &:after {
            content: url(../styles/img/social-instagram.svg);
         }
      }

      &--threads {
         &:after {
            content: url(../styles/img/social-threads.svg);
         }
      }

      span {
         display: none;
      }

   }
}

.social   p:empty {
   display: none; // txp bug?
}
