// ===================================
// Site Colour Palette
// ===================================



.bg--beigepink1 {
	background-color: var(--beigepink1);
}
.t--beigepink1 {
	color: var(--beigepink1);
}

.bg--white {
	background-color: var(--white);
}
.t--white {
	color: var(--white);
}

.bg--charcoal {
	background-color: var(--charcoal);
}
.t--charcoal {
	color: var(--charcoal);
}

.bg--grey2 {
	background-color: var(--grey2);
}
.t--grey2 {
	color: var(--grey2);
}

.bg--grey {
	background-color: var(--grey);
}
.t--grey {
	color: var(--grey);
}

.bg--silver {
	background-color: var(--silver);
}
.t--silver {
	color: var(--silver);
}

.bg--black {
	background-color: var(--black);
}
.t--black {
	color: var(--black);
}

.bg--grey3 {
	background-color: var(--grey3);
}
.t--grey3 {
	color: var(--grey3);
}

.bg--grey4 {
	background-color: var(--grey4);
}
.t--grey4 {
	color: var(--grey4);
}

.bg--grey1 {
	background-color: var(--grey1);
}
.t--grey1 {
	color: var(--grey1);
}

.bg--blue1 {
	background-color: var(--blue1);
}
.t--blue1 {
	color: var(--blue1);
}
.bg--bluepale {
	background-color: var(--bluepale);
}
.t--bluepale {
	color: var(--bluepale);
}
.bg--blue6 {
	background-color: var(--blue6);
}
.t--blue6 {
	color: var(--blue6);
}
.bg--blue7 {
	background-color: var(--blue7);
}
.t--blue7 {
	color: var(--blue7);
}
.bg--greenpale2 {
	background-color: var(--greenpale2);
}
.t--greenpale2 {
	color: var(--greenpale2);
}
.bg--blue2 {
	background-color: var(--blue2);
}
.t--blue2 {
	color: var(--blue2);
}
.bg--blue3 {
	background-color: var(--blue3);
}
.t--blue3 {
	color: var(--blue3);
}
.bg--blue8 {
	background-color: var(--blue8);
}
.t--blue8 {
	color: var(--blue8);
}
.bg--green7 {
	background-color: var(--green7);
}
.t--green7 {
	color: var(--green7);
}
.bg--greenpale1 {
	background-color: var(--greenpale1);
}
.t--greenpale1 {
	color: var(--greenpale1);
}
.bg--blue {
	background-color: var(--blue);
}
.t--blue {
	color: var(--blue);
}

.bg--blue4 {
	background-color: var(--blue4);
}
.t--blue4 {
	color: var(--blue4);
}
.bg--bluedark {
	background-color: var(--bluedark);
}
.t--bluedark {
	color: var(--bluedark);
}
.bg--green {
	background-color: var(--green);
}
.t--green {
	color: var(--green);
}

.bg--green6 {
	background-color: var(--green6);
}
.t--green6 {
	color: var(--green6);
}
.bg--greenpale {
	background-color: var(--greenpale);
}
.t--greenpale {
	color: var(--greenpale);
}
.bg--green1 {
	background-color: var(--green1);
}
.t--green1 {
	color: var(--green1);
}

.bg--green3 {
	background-color: var(--green3);
}
.t--green3 {
	color: var(--green3);
}
.bg--green4 {
	background-color: var(--green4);
}
.t--green4 {
	color: var(--green4);
}
.bg--green5 {
	background-color: var(--green5);
}
.t--green5 {
	color: var(--green5);
}
.bg--olive {
	background-color: var(--olive);
}
.t--olive {
	color: var(--olive);
}
.bg--green2 {
	background-color: var(--green2);
}
.t--green2 {
	color: var(--green2);
}

.bg--yellowbeige2 {
	background-color: var(--yellowbeige2);
}
.t--yellowbeige2 {
	color: var(--yellowbeige2);
}
.bg--yelloworange {
	background-color: var(--yelloworange);
}
.t--yelloworange {
	color: var(--yelloworange);
}
.bg--yelloworange1 {
	background-color: var(--yelloworange1);
}
.t--yelloworange1 {
	color: var(--yelloworange1);
}
.bg--yellow {
	background-color: var(--yellow);
}
.t--yellow {
	color: var(--yellow);
}

.bg--orange {
	background-color: var(--orange);
}
.t--orange {
	color: var(--orange);
}
.bg--orange2 {
	background-color: var(--orange2);
}
.t--orange2 {
	color: var(--orange2);
}
.bg--orangepale {
	background-color: var(--orangepale);
}
.t--orangepale {
	color: var(--orangepale);
}
.bg--orange1 {
	background-color: var(--orange1);
}
.t--orange1 {
	color: var(--orange1);
}


.bg--red1 {
	background-color: var(--red1);
}
.t--red1 {
	color: var(--red1);
}

.bg--pink2 {
	background-color: var(--pink2);
}
.t--pink2 {
	color: var(--pink2);
}
.bg--red2 {
	background-color: var(--red2);
}
.t--red2 {
	color: var(--red2);
}
.bg--red3 {
	background-color: var(--red3);
}
.t--red3 {
	color: var(--red3);
}

.bg--redbeige {
	background-color: var(--redbeige);
}
.t--redbeige {
	color: var(--redbeige);
}
.bg--red {
	background-color: var(--red);
}
.t--red {
	color: var(--red);
}

.bg--pink {
	background-color: var(--pink);
}
.t--pink {
	color: var(--pink);
}
.bg--purple {
	background-color: var(--purple);
}
.t--purple {
	color: var(--purple);
}

.bg--brown {
	background-color: var(--brown);
}
.t--brown {
	color: var(--brown);
}
.bg--brown3 {
	background-color: var(--brown3);
}
.t--brown3 {
	color: var(--brown3);
}

.bg--redbeige1 {
	background-color: var(--redbeige1);
}
.t--redbeige1 {
	color: var(--redbeige1);
}
.bg--beigepink {
	background-color: var(--beigepink);
}
.t--beigepink {
	color: var(--beigepink);
}
.bg--brown2 {
	background-color: var(--brown2);
}
.t--brown2 {
	color: var(--brown2);
}

.bg--brown4 {
	background-color: var(--brown4);
}
.t--brown4 {
	color: var(--brown4);
}
.bg--beige {
	background-color: var(--beige);
}
.t--beige {
	color: var(--beige);
}
.bg--beigepink2 {
	background-color: var(--beigepink2);
}
.t--beigepink2 {
	color: var(--beigepink2);
}

.bg--brown1 {
	background-color: var(--brown1);
}
.t--brown1 {
	color: var(--brown1);
}

.bg--brown6 {
	background-color: var(--brown6);
}
.t--brown6 {
	color: var(--brown6);
}
.bg--charcoal1 {
	background-color: var(--charcoal1);
}
.t--charcoal1 {
	color: var(--charcoal1);
}

.bg--brown7 {
	background-color: var(--brown7);
}
.t--brown7 {
	color: var(--brown7);
}
.bg--brown5 {
	background-color: var(--brown5);
}
.t--brown5 {
	color: var(--brown5);
}
.bg--black1 {
	background-color: var(--black1);
}
.t--black1 {
	color: var(--black1);
}
.bg--black2 {
	background-color: var(--black2);
}
.t--black2 {
	color: var(--black2);
}

// ===================================
// Random Colour Palettes
// ===================================


.bgr--set1 { //5 background colours in this set
	// &:nth-of-type(5n+1) {
	// 	@extend .bg--yellow;
	// }
	// &:nth-of-type(5n+2) {
	// 	@extend .bg--green;
	// }
	// &:nth-of-type(5n+3) {
	// 	@extend .bg--blue;
	// }
	// &:nth-of-type(5n+4) {
	// 	@extend .bg--pink;
	// }
	// &:nth-of-type(5n+5) {
	// 	@extend .bg--red;
	// }
	
	&:nth-child(5n+1) {
		@extend .bg--yellow;
	}
	&:nth-child(5n+2) {
		@extend .bg--green;
	}
	&:nth-child(5n+3) {
		@extend .bg--blue;
	}
	&:nth-child(5n+4) {
		@extend .bg--pink;
	}
	&:nth-child(5n+5) {
		@extend .bg--red;
	}
}


