:root {
  /* grid-base determines the size of the grid. Pixel units also work. */

  --grid-base: 33vw;
  --grid-spacer: 3vw;

  /* primary fontsize: applies to all elements in your html with the .all-grid--uifont class */

  --uifontsize: 3vw;  /* 4vmin = loud, 1.5vmin = quiet, other units work too  */
  --type-weight: 400;

  /* typography: limited to containers with the .typography class */

  --type-measure: clamp(40rem, 62vw,60rem);
  --baseline: 1.5rem;
  --h1: 3rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1rem;

   --hamburger-track-width: 7vw;  /* hamburger option is position fixed - allow for its vertical track */

  /* Text colours */

  --headingColour:   var(--red);
  --bodyColour:      var(--black);
  --linkColour:      var(--black);
  --hoverColour:     var(--bluedark);
  --captionColour:   var(--charcoal);
  --selectionColour: var(--red);
  --menuTextColour:  var(--bluepale);  /* used for hamburger menu text only */

  /* Background colours */

  --backgroundColour:       var(--white);
  --menuBackgroundColour:   var(--white);  /* used for hamburger menu background only */
  --footerBackgroundColour: var(--red);
  --codeBackgroundColour:   var(--silver);
}

.all-grid--uifont {
  font-size: calc(.5rem + var(--uifontsize));
  line-height: 1.1;
  letter-spacing: -.04em;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--headingColour);
}


  /* add other css overrides to the main all-grid stylesheet here eg.
*/


.all-grid--uifont a {
  color: inherit;
}


.all-grid__header,
.all-grid {
  padding-left: calc(var(--grid-spacer) * 2);
  padding-right: calc(var(--grid-spacer) * 2);
}

.listing-page :not(.all-grid--hero) .all-grid {
  grid-auto-rows: auto;
}
.all-grid__thumb.has--image-omitted {
  
}
.all-grid > header,
.all-grid > [itemprop="description"],
.all-grid > [itemprop="articleBody"],
.all-grid :not(.image--is-first) figcaption {
  padding-left: 0 ;
}


.listing-page .all-grid__thumb {
  filter: grayscale(100%);
  transition: filter .3s ease;
}
.listing-page .all-grid__thumb:hover {
  filter: none;
}

/* 5 background colours in this set */
.bgr--set1:nth-child(5n+1) {
  background-color: var(--pink);
}
.bgr--set1:nth-child(5n+2) {
  background-color: var(--bluepale);
}
.bgr--set1:nth-child(5n+3) {
  background-color: var(--green2);
}
.bgr--set1:nth-child(5n+4) {
  background-color: var(--brown);
}
.bgr--set1:nth-child(5n+5) {
  background-color: var(--bluedark);
}