@charset "UTF-8";
/* scss/0-settings-tools/_s_config.scss */
:root {
  --base-unit: 1.5rem;
  --base-unit--ss: calc(var(--base-unit) / 4);
  --base-unit--s: calc(var(--base-unit) / 2);
  --base-unit--b: calc(var(--base-unit) * 2);
  --base-line-height: 1.5rem;
  --thumb-background-colour: var(--whiteLC);
  --hamburger-background-colour: var(--whiteLC);
  --type-measure: 72ch; }

/* scss/0-settings-tools/_s_mixins.scss */
/* scss/0-settings-tools/_s_shevy-config.scss */
/* scss/1-base/_b_reset.scss */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
.p_diy .diy__article [itemprop="articleBody"] strong,
h4,
p,
figure,
blockquote,
dl,
dd,
code,
pre {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background: transparent;
  border: 0; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* scss/1-base/_b_fonts.scss */
:root {
  --sans: 'Helvetica Neue', Helvetica, sans;
  --serif: 'Baskerville', serif; }

/* scss/1-base/_b_typeset.scss */
html {
  font-size: 100%; }

/*16px*/
h1 {
  font-size: 2.67rem;
  line-height: 3.28rem;
  margin-bottom: 1.31rem; }

h2 {
  font-size: 2.14rem;
  line-height: 2.62rem;
  margin-bottom: 1.31rem; }

h3, .p_diy .diy__article [itemprop="articleBody"] strong {
  font-size: 1.71rem;
  line-height: 1.97rem;
  margin-bottom: 1.31rem; }

h4 {
  font-size: 1.37rem;
  line-height: 1.97rem;
  margin-bottom: 1.31rem; }

h5 {
  font-size: 1.09rem;
  line-height: 1.31rem;
  margin-bottom: 1.31rem; }

h6, .h6-style,
.h6-styled > * {
  font-size: 0.88rem;
  line-height: 1.31rem;
  margin-bottom: 1.31rem; }

body {
  font-size: 0.88rem;
  line-height: 1.5; }

p,
ol,
ul,
pre {
  font-size: 0.88rem;
  line-height: 1.5;
  margin-bottom: 1.31rem; }

@media (min-width: 720px) {
  h1 {
    font-size: 3.05rem;
    line-height: 3.75rem;
    margin-bottom: 1.5rem; }
  h2 {
    font-size: 2.44rem;
    line-height: 3rem;
    margin-bottom: 1.5rem; }
  h3, .p_diy .diy__article [itemprop="articleBody"] strong {
    font-size: 1.95rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem; }
  h4 {
    font-size: 1.56rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem; }
  h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem; }
  h6, .h6-style,
  .h6-styled > * {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem; }
  body {
    font-size: 1rem;
    line-height: 1.5; }
  p,
  ol,
  ul,
  pre {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem; } }

body {
  font-family: var(--sans);
  font-weight: 300;
  color: var(--black);
  background: var(--white);
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.b_typeset {
  overflow: auto; }
  .b_typeset p, .b_typeset li {
    max-width: var(--type-measure); }
  .b_typeset ul, .b_typeset ol {
    list-style-position: outside;
    list-style-type: square; }
  .b_typeset--lede p,
  .b_typeset--lede ol,
  .b_typeset--lede ul,
  .b_typeset--lede pre {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 2.5rem; }
  .b_typeset a {
    text-decoration: underline; }
  .b_typeset blockquote p {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 0.78em;
    margin: var(--base-unit--b); }
    .b_typeset blockquote p:before {
      content: '“'; }
    .b_typeset blockquote p:after {
      content: '”'; }

.b_hyphenate {
  -webkit-hyphens: auto;
          hyphens: auto; }

.b_centered {
  text-align: center; }

small, .b_small > *, .b_small {
  font-size: .875rem;
  letter-spacing: initial; }

.b_small--min {
  font-size: .65rem; }

/* scss/1-base/_b_colours.scss */
:root {
  --brand: var(--black);
  --background-colour: var(--white);
  --superimposed-bg: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  --superimposed-bg--white: linear-gradient(180deg, rgba(rgb(255, 255, 255), 1) 20%, rgba(rgb(255, 255, 255), .66) 100%);
  --backdrop-filter: blur(.25em) brightness(.9);
  /* ===================================
    Le Corbusier colour palette
======================================*/
  --white: white;
  --whiteLC: rgb(234, 228, 215);
  --silver: rgb(188, 187, 182);
  --grey: rgb(167, 168, 165);
  --grey1: rgb(146, 150, 154);
  --grey2: rgb(146, 148, 148);
  --grey3: rgb(129, 134, 139);
  --grey4: rgb(96, 100, 106);
  --charcoal: rgb(94, 96, 97);
  --charcoal1: rgb(90, 85, 80);
  --black: rgb(58, 59, 59);
  --black1: rgb(64, 60, 58);
  --black2: rgb(69, 66, 62);
  --bluedark: rgb(49, 61, 107);
  --blue: rgb(57, 87, 165);
  --blue1: rgb(77, 106, 168);
  --blue2: rgb(62, 110, 144);
  --blue3: rgb(103, 157, 174);
  --blue4: rgb(122, 167, 203);
  --bluepale: rgb(143, 171, 201);
  --blue6: rgb(171, 189, 200);
  --blue7: rgb(182, 198, 206);
  --blue8: rgb(138, 181, 186);
  --green: rgb(64, 110, 88);
  --green1: rgb(62, 111, 66);
  --green2: rgb(66, 143, 112);
  --green3: rgb(127, 162, 90);
  --green4: rgb(171, 193, 122);
  --green5: rgb(196, 211, 155);
  --green6: rgb(145, 175, 161);
  --green7: rgb(168, 196, 193);
  --greenpale: rgb(190, 203, 183);
  --greenpale1: rgb(198, 213, 204);
  --greenpale2: rgb(217, 225, 221);
  --olive: rgb(184, 161, 54);
  --yellow: rgb(242, 187, 29);
  --yellowbeige2: rgb(234, 207, 166);
  --yelloworange: rgb(219, 176, 127);
  --yelloworange1: rgb(221, 191, 153);
  --orange: rgb(212, 108, 64);
  --orange2: rgb(220, 141, 103);
  --orangepale: rgb(234, 207, 185);
  --orange1: rgb(196, 94, 58);
  --red: rgb(172, 68, 58);
  --red1: rgb(155, 55, 56);
  --red2: rgb(143, 58, 67);
  --red3: rgb(148, 58, 77);
  --redbeige: rgb(214, 175, 166);
  --redbeige1: rgb(205, 152, 134);
  --pink: rgb(219, 163, 175);
  --pink2: rgb(230, 205, 191);
  --purple: rgb(116, 57, 59);
  --brown: rgb(116, 68, 56);
  --brown1: rgb(76, 66, 61);
  --brown3: rgb(139, 77, 62);
  --brown2: rgb(104, 68, 60);
  --brown4: rgb(182, 123, 102);
  --brown5: rgb(183, 172, 157);
  --brown6: rgb(183, 163, 146);
  --brown7: rgb(146, 138, 126);
  --beige: rgb(216, 178, 154);
  --beigepink: rgb(219, 190, 170);
  --beigepink1: rgb(234, 219, 192);
  --beigepink2: rgb(226, 203, 181); }
  :root .txt--white {
    color: var(--white); }
  :root .txt--black {
    color: var(--black); }
  :root .bg--white, :root .p_diy-space [itemprop="image"] figcaption, .p_diy-space [itemprop="image"] :root figcaption {
    background-color: var(--white); }
  :root .bg--white-opac {
    background-color: rgba(255, 255, 255, 0.5); }
  :root .bg--whiteLC {
    background-color: var(--whiteLC); }
  :root .bg--dark {
    background-color: var(--black);
    color: var(--white); }
  :root .bg--grey {
    background-color: var(--grey4); }
  :root .bg--faint,
  :root .bg--thumbs-no-image {
    background-color: #f3f3f3; }
  :root .bg--r1 {
    background-color: var(--green);
    color: var(--white); }
  :root .bg--r2 {
    background-color: var(--yellow); }
  :root .bg--r3 {
    background-color: var(--red);
    color: var(--white); }
  :root .bg--r4 {
    background-color: var(--bluepale); }
  :root .bg--r5 {
    background-color: var(--pink); }
  :root .bg--r6 {
    background-color: var(--olive); }
  :root .bg--r7 {
    background-color: var(--beige); }
  :root .bg--r8 {
    background-color: var(--blue); }
  :root .bg--r9 {
    background-color: var(--charcoal); }
  :root .bg--r10 {
    background-color: var(--grey); }
  :root .bg--r11 {
    background-color: var(--orange); }
  :root .bg--r12 {
    background-color: var(--bluedark); }
  :root .bg--r13 {
    background-color: var(--brown); }
  :root .bg--r14 {
    background-color: var(--purple); }

/* scss/2-quarks/_q_details.scss */
summary {
  cursor: pointer;
  display: flex;
  list-style-type: none; }
  summary > * {
    margin-top: 0; }
  summary:focus {
    outline: none; }
  summary::-webkit-details-marker, summary::marker {
    display: none; }
  summary > *:after {
    content: "+";
    font-size: inherit;
    line-height: 1;
    transition: transform .2s ease;
    margin-left: var(--base-unit--b); }
  summary:hover > * :after {
    transform: scale(120%); }

details[open] summary > *:after {
  content: "-"; }

details[plain] summary > *:after {
  display: none; }

/* scss/2-quarks/_q_links.scss */
a, .m_menu__child--active a {
  color: inherit;
  text-decoration: none; }

/* scss/2-quarks/_q_lists.scss */
ul, ol {
  padding-left: 0;
  list-style-position: inside; }

dl {
  margin-bottom: 1.5;
  padding-left: 0; }

dt {
  font-weight: 500; }

dd {
  text-indent: var(--base-unit); }

/* scss/2-quarks/_q_forms.scss */
button {
  cursor: pointer;
  border: 2px solid var(--black);
  background: var(--white); }
  button.plain {
    border: none; }
  button::-moz-focus-inner {
    padding: 0;
    border: 0 none; }
  button:focus {
    outline: 0; }

input {
  border-bottom: 2px solid var(--black); }

textarea {
  border: 2px solid var(--black); }

input, textarea {
  background-color: var(--white);
  padding: var(--base-unit--ss); }

label {
  display: none; }

[type="submit"] {
  text-align: left;
  cursor: pointer; }

/* scss/2-quarks/_q_code.scss */
code {
  font-family: Menlo, Courier, monospace;
  font-size: small;
  background-color: #f3f3f3;
  border-radius: 0.3rem;
  color: var(--grey); }
  pre code {
    display: inline-block;
    padding: 1rem; }

pre {
  border-radius: 0.3rem;
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1rem; }

/* scss/2-quarks/_q_figure.scss */
figure > img {
  color: transparent; }

figcaption {
  margin-top: var(--base-unit--s); }
  figcaption > p {
    max-width: var(--type-measure); }
  figcaption a, figcaption .m_menu__child--active a, .m_menu__child--active figcaption a {
    text-decoration: underline;
    font-weight: bolder; }

/* scss/2-quarks/_q_hr.scss */
hr {
  border: 0;
  height: 0.49rem;
  background: var(--black);
  margin-top: -0.24rem;
  margin-bottom: 0.24rem; }
  .bg--dark hr {
    background: var(--white); }

/* scss/3-quarks/_q_tables.scss */
table {
  width: 100%; }

th,
td:first-child {
  font-weight: 600; }

th {
  padding-bottom: 0.98rem; }

td,
th {
  text-align: left;
  vertical-align: baseline; }

tr:first-child {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

td {
  padding-right: var(--base-unit--ss);
  padding-bottom: 0.98rem;
  word-break: break-word; }

/* scss/3-atoms/_a_headings.scss */
h1,
h2,
h3,
.p_diy .diy__article [itemprop="articleBody"] strong,
h4,
h5,
h6,
.h6-style,
.h6-styled > *,
.a_heading,
.b_typeset--lede,
summary > *:after {
  letter-spacing: -.05rem;
  font-weight: 400; }

h6, .h6-style,
.h6-styled > * {
  letter-spacing: initial; }

.a_heading--ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.h0-style {
  line-height: .75;
  letter-spacing: -.05em;
  word-break: break-word;
  font-size: clamp(3rem, 10vw, 6rem); }
  .h0-style.max {
    font-size: clamp(3rem, 15vw, 12rem); }

.h1-style,
.h1-styled > * {
  font-size: 3.05em;
  line-height: 1.23;
  margin-bottom: 0.32em; }

.h2-style,
.h2-styled > * {
  font-size: 2.44em;
  line-height: 1.23;
  margin-bottom: 0.4em; }

.h3-style,
.h3-styled > * {
  font-size: 1.95em;
  line-height: 1.15;
  margin-bottom: 0.5em; }

.h4-style,
.h4-styled > * {
  font-size: 1.56em;
  line-height: 1.44;
  margin-bottom: 0.62em; }

.h5-style,
.h5-styled > * {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0.78em; }

@media screen and (min-width: 720px) {
  .h1-style\@medium {
    font-size: 3.05em;
    line-height: 1.23;
    margin-bottom: 0.32em; }
  .h2-style\@medium {
    font-size: 2.44em;
    line-height: 1.23;
    margin-bottom: 0.4em; }
  .h3-style\@medium {
    font-size: 1.95em;
    line-height: 1.15;
    margin-bottom: 0.5em; }
  .h4-style\@medium {
    font-size: 1.56em;
    line-height: 1.44;
    margin-bottom: 0.62em; }
  .h5-style\@medium {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 0.78em; }
  .h6-style\@medium {
    font-size: 1rem; }
  .h1-styled\@medium > * {
    font-size: 3.05em;
    line-height: 1.23;
    margin-bottom: 0.32em; }
  .h2-styled\@medium > * {
    font-size: 2.44em;
    line-height: 1.23;
    margin-bottom: 0.4em; }
  .h3-styled\@medium > * {
    font-size: 1.95em;
    line-height: 1.15;
    margin-bottom: 0.5em; }
  .h4-styled\@medium > * {
    font-size: 1.56em;
    line-height: 1.44;
    margin-bottom: 0.62em; }
  .h5-styled\@medium > * {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 0.78em; }
  .h6-styled\@medium > * {
    font-size: 1rem; } }

/* scss/3-atoms/_a_list-bare.scss */
.a_list-bare {
  list-style: none;
  margin: 0; }

/* scss/3-atoms/_a_image.scss */
.a_image {
  position: relative;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content; }
  .a_image figcaption p {
    margin-bottom: 0;
    max-width: 100%; }
  .a_image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%; }
  .a_image--contain img {
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
    width: 100%; }
  .a_image--has-caption:not(.a_image--hide-caption) img {
    height: auto; }
  .a_image--pan {
    overflow: hidden; }
  .a_image--hide-caption figcaption {
    display: none; }
  .a_image--inline {
    padding-bottom: 2.93rem; }
    @media screen and (min-width: 720px) {
      .a_image--inline {
        padding-bottom: inherit;
        width: 33%;
        float: right;
        margin-left: var(--base-unit); }
        .a_image--inline.large {
          width: 66%; } }
ken-burns-carousel {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* scss/3-atoms/_a_icon.scss */
.a_icon {
  display: inline-block; }
  .a_icon--flip {
    transform: scaleX(-1); }
  .a_icon--invert {
    filter: invert(1); }
  .a_icon--rotate-right {
    transform: rotateZ(90deg); }
  .a_icon--rotate-left {
    transform: rotateZ(-90deg); }
  .a_icon--rotate-down {
    transform: rotateZ(180deg); }
  .a_icon--social--twitter:after {
    content: url(../styles/img/social-twitter.svg); }
  .a_icon--social--facebook:after {
    content: url(../styles/img/social-facebook.svg); }
  .a_icon--social--linkedin:after {
    content: url(../styles/img/social-linkedin.svg); }
  .a_icon--social--instagram:after {
    content: url(../styles/img/social-instagram.svg); }
  .a_icon--social--threads:after {
    content: url(../styles/img/social-threads.svg); }
  .a_icon--social span {
    display: none; }

.social p:empty {
  display: none; }

/* scss/3-atoms/_a_ratio.scss */
.a_ratio--1x1 {
  aspect-ratio: 1/1; }

.a_ratio--2x1 {
  aspect-ratio: 2/1; }

.a_ratio--1x2 {
  aspect-ratio: 1/2; }

@media (orientation: landscape) {
  .a_ratio--2x1\@landscape {
    aspect-ratio: 2/1; } }

.a_ratio--3x2 {
  aspect-ratio: 3/2; }

.a_ratio--2x3 {
  aspect-ratio: 2/3; }

.a_ratio--gm {
  aspect-ratio: 1618/1000; }

.a_ratio--video {
  aspect-ratio: 16/9; }

/* scss/3-atoms/_a_opac.scss */
.a_opac--75 {
  opacity: .75; }

.a_opac--50 {
  opacity: .5; }

.a_opac--25 {
  opacity: .25; }

/* scss/3-molecules/_m_menu.scss */
.gap-small .m_menu__child {
  margin-right: var(--base-unit--s); }

.buttons .m_menu__child {
  padding: 0 var(--base-unit--ss);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: var(--black);
  color: var(--white); }
  .buttons .m_menu__child--active, .buttons .m_menu__child:hover, .buttons .m_menu__child--active a.m_menu__child, .m_menu__child--active .buttons a.m_menu__child {
    background: var(--white);
    color: var(--black); }

.m_menu__child--active a {
  font-weight: 500; }

.m_menu--drop-down > li {
  position: relative;
  z-index: 2; }
  @media screen and (min-width: 720px) {
    .m_menu--drop-down > li:hover ul {
      display: block;
      z-index: -1; } }
.m_menu--drop-down ul {
  display: none;
  width: 100%;
  position: absolute;
  background-color: var(--whiteLC); }

.m_menu--compact {
  position: relative;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .m_menu--compact__current {
    font-weight: 400;
    cursor: pointer; }
    .m_menu--compact__current:after {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMyAxMyIg\a           ZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMDc1OTk5OSAwLjk1NDkwNUwxM\a           S40MTIgNy42ODg5MUwyMi43NDggMC45NTQ5MDZMMjIuNzQ4IDYuMTI4OTFMMTEuNDEyIDEyLjY4MDlMMC4wNzU5OTk3IDYuMTAyOTFMMC\a           4wNzU5OTk5IDAuOTU0OTA1WiIgZmlsbD0iIzI3MjcyNyIvPgo8L3N2Zz4K");
      display: inline-block;
      transform: scale(0.62); }
  .m_menu--compact__holder {
    position: relative; }
    .m_menu--compact__holder > ul {
      display: none;
      position: absolute;
      z-index: -1;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      top: 0;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      padding-top: 1.46rem;
      padding-bottom: 1.95rem;
      padding-left: var(--base-unit);
      left: calc(var(--base-unit) * -1);
      background-color: var(--whiteLC); }
      .m_menu--compact__holder > ul .m_menu__child--active {
        display: none; }
  .m_menu--compact:hover ul, .m_menu__child--active a.m_menu--compact ul {
    display: block; }

/* scss/4-molecules/_m_logo.scss */
.m_logo {
  height: 10vw; }

/* scss/6-molecules/_m_video.scss */
.m_video {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
  .m_video__holder--crop-top {
    overflow: hidden; }
    .m_video__holder--crop-top > video {
      margin-top: -1px; }
  .m_video + p {
    text-align: center; }

/* scss/4-molecules/_m_hamburger.scss */
.m_hamburger {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 1.46rem;
  padding-right: var(--base-unit);
  padding-left: var(--base-unit);
  z-index: 100; }
  .m_hamburger[open] {
    background-color: var(--hamburger-background-colour);
    bottom: 0; }
  .m_hamburger > summary {
    display: flex;
    justify-content: flex-end; }
  .m_hamburger__button {
    width: 28px;
    background-color: var(--background-colour); }
    [open] .m_hamburger__button {
      background-color: var(--hamburger-background-colour); }
  .m_hamburger__icon:after, .m_hamburger__icon:before, .m_hamburger__icon div {
    background-color: var(--black);
    content: '';
    display: block;
    height: 2.5px;
    margin: 7px 0;
    transition: all .2s ease-in-out; }
  .m_hamburger__icon:hover:after, .m_menu__child--active a.m_hamburger__icon:after, .m_hamburger__icon:hover:before, .m_menu__child--active a.m_hamburger__icon:before, .m_hamburger__icon:hover div, .m_menu__child--active a.m_hamburger__icon div {
    opacity: .5; }
  .is-active .m_hamburger__icon:before {
    transform: translateY(9.5px) rotate(135deg); }
  .is-active .m_hamburger__icon:after {
    transform: translateY(-9.5px) rotate(-135deg); }
  .is-active .m_hamburger__icon div {
    transform: scale(0); }

/* scss/4-molecules/_m_thumb.scss */
.m_thumb {
  position: relative; }
  .m_thumb__inner > *:last-child {
    margin-bottom: 0; }

/* scss/4-organisms/_o_header.scss */
.o_header--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-colour); }

.o_header h1:nth-child(1) {
  position: relative;
  z-index: 1; }

/* scss/5-organisms/_o_paginator.scss */
.o_paginator.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-colour); }

.o_paginator a {
  margin-bottom: 0; }

/* scss/5-organisms/_o_footer.scss */
/* scss/5-organisms/_o_lightbox.scss */
.o_lightbox {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: var(--black); }
  .o_lightbox__content {
    max-height: 100%; }
  .o_lightbox__caption {
    text-align: center; }

.o_lightbox__content, .o_lightbox__caption {
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover, .m_menu__child--active a.close,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* scss/5-layouts/_l_column.scss */
.l_column {
  display: flex;
  flex-direction: column; }
  .l_column.top {
    justify-content: flex-start; }
  .l_column.middlev {
    justify-content: center; }
  .l_column.bottom {
    justify-content: flex-end; }
  .l_column.space-between {
    justify-content: space-between; }
  .l_column.space-round {
    justify-content: space-around; }
  .l_column.middle {
    align-items: center; }
  .l_column.right {
    align-items: flex-end; }

/* scss/5-layouts/_l_beam.scss */
.l_beam {
  display: flex;
  width: 100%; }
  .l_beam--wrap {
    flex-wrap: wrap; }
  .l_beam--spaced > * {
    margin-right: var(--base-unit); }
  .l_beam.middle {
    justify-content: center; }
  .l_beam.right {
    justify-content: flex-end; }
    .l_beam.right > :last-child {
      margin-right: 0; }
  @media (min-width: 480px) {
    .l_beam\@small {
      display: flex; }
    .l_beam.right\@small {
      justify-content: flex-end; }
      .l_beam.right\@small > :last-child {
        margin-right: 0; } }
  .l_beam.space-between {
    justify-content: space-between; }
    .l_beam.space-between > :last-child {
      margin-right: 0; }
  .l_beam.middlev {
    align-items: center; }
  .l_beam.bottom {
    align-items: flex-end; }
  .l_beam:empty {
    display: none; }

/* scss/6-layouts/_l_grid.scss */
.l_grid {
  display: grid;
  grid-gap: 1.46rem var(--base-unit); }
  @media (max-width: 480px) {
    .l_grid {
      display: block; }
      .l_grid > * {
        margin-bottom: 10vh; }
      .l_grid--mobile {
        display: grid; }
        .l_grid--mobile > * {
          margin-bottom: inherit; } }
  .l_grid--gap-small {
    grid-gap: 0.49rem var(--base-unit--s); }
  .l_grid--gap-large {
    grid-gap: 2.93rem var(--base-unit--b); }
  .l_grid--twin {
    grid-template-columns: 1fr 1fr; }
  .l_grid--tri {
    grid-template-columns: 1fr 1fr 1fr; }
  .l_grid--quad {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  @media (min-width: 480px) {
    .l_grid--twin\@small {
      grid-template-columns: 1fr 1fr; }
    .l_grid--tri\@small {
      grid-template-columns: 1fr 1fr 1fr; }
    .l_grid--quad\@small {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 720px) {
    .l_grid--tri\@medium {
      grid-template-columns: 1fr 1fr 1fr; }
    .l_grid--quad\@medium {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 1318px) {
    .l_grid--tri\@desktop {
      grid-template-columns: 1fr 1fr 1fr; }
    .l_grid--quad\@desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .l_grid .self-right {
    justify-self: end; }
  .l_grid.top {
    align-items: start; }
  .l_grid.middlev {
    align-items: center;
    align-content: center; }
  .l_grid.bottom {
    align-items: end;
    align-content: end; }
  .l_grid.space-between {
    justify-content: space-between; }
  .l_grid.left {
    justify-content: start; }
  .l_grid.middle {
    justify-content: center; }
  .l_grid.right {
    justify-content: end; }
  @media (min-width: 480px) {
    .l_grid.staggered .landscape {
      grid-column: span 2; }
      .l_grid.staggered .landscape:nth-of-type(odd) {
        grid-column: span 3;
        grid-column-end: -1; }
      .l_grid.staggered .landscape + .landscape {
        grid-column-end: -1; }
    .l_grid.staggered .square {
      grid-column: span 2;
      grid-row: span 2; }
    .l_grid.staggered .portrait:nth-of-type(even) {
      grid-row: span 2;
      grid-column: span 2; } }
/* scss/6-layouts/_l_width-limited.scss */
.l_width-limited {
  margin-left: auto;
  margin-right: auto;
  max-width: 1318px; }

/* scss/6-layouts/_l_superimposed.scss */
.l_superimposed {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
  @media (max-width: 480px) {
    .l_superimposed.has--image-omitted {
      min-height: 5.85rem; } }
  @media (orientation: landscape) {
    .l_superimposed--fold-limited {
      height: 66vh; } }
  @media (orientation: portrait) {
    .l_superimposed--fold-limited {
      height: 80vh; } }
  .l_superimposed--fullscreen {
    width: 100%;
    height: 100vh; }
  .l_superimposed--fixed {
    position: fixed; }
  .l_superimposed__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: currentcolor; }
    .l_superimposed__inner.bg-gradient {
      background: var(--superimposed-bg); }
    .l_superimposed__inner.bg-colour {
      background: var(--thumb-background-colour); }
    .l_superimposed__inner--shiftingtiles {
      color: inherit; }
      @media (max-width: 480px) {
        .l_superimposed__inner--shiftingtiles {
          background-color: var(--background-colour);
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          padding-bottom: 0.98rem; } }
      @media (min-width: 480px) {
        .l_superimposed__inner--shiftingtiles {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(4, 1fr);
          grid-gap: var(--shiftingtiles-gap); }
          .l_superimposed__inner--shiftingtiles > * {
            background-color: var(--white);
            padding: 0.49rem var(--base-unit--s);
            margin: calc(var(--shiftingtiles-gap)* -.5); }
          .l_superimposed__inner--shiftingtiles [itemprop="headline"] {
            grid-column-start: 2;
            grid-row-start: 2;
            display: grid;
            align-items: end; }
          .l_superimposed__inner--shiftingtiles [itemprop="description"] {
            grid-column-start: 3;
            grid-row-start: 3; } }
  .l_superimposed figure {
    height: 100%;
    width: 100%; }
  .l_superimposed [itemprop="description"] > *:last-child {
    margin-bottom: 0; }

/* scss/6-layouts/_l_text-columns.scss */
.l_text-columns {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: var(--base-unit);
       column-gap: var(--base-unit); }
  .l_text-columns.tri {
    -moz-column-count: 3;
         column-count: 3; }
  .l_text-columns h1, .l_text-columns h2, .l_text-columns h3, .l_text-columns .p_diy .diy__article [itemprop="articleBody"] strong, .p_diy .diy__article [itemprop="articleBody"] .l_text-columns strong {
    -moz-column-span: all;
         column-span: all; }

/* scss/7-utilities/_u_m.scss */
.u_m--t {
  margin-top: 1.46rem; }
  .u_m--t0 {
    margin-top: 0; }
  .u_m--tvh {
    margin-top: 10vh; }

.u_m--tt {
  margin-top: 4.39rem; }

.u_m--l {
  margin-left: var(--base-unit); }
  .u_m--l0 {
    margin-left: 0; }

.u_m--r {
  margin-right: var(--base-unit); }
  .u_m--r0 {
    margin-right: 0; }

.u_m--b {
  margin-bottom: 1.46rem; }
  .u_m--b0 {
    margin-bottom: 0; }
  .u_m--bb {
    margin-bottom: 4.39rem; }
  .u_m--bvh {
    margin-bottom: 10vh; }

/* scss/7-utilities/_u_p0.scss */
.u_p, .p_diy-space [itemprop="image"] figcaption {
  padding: 1.46rem var(--base-unit); }
  .u_p--t {
    padding-top: 1.46rem; }
    .u_p--tt {
      padding-top: 2.93rem; }
    .u_p--t0 {
      padding-top: 0; }
    .u_p--t- {
      padding-top: 0.73rem; }
  .u_p--l {
    padding-left: var(--base-unit); }
    .u_p--l- {
      padding-left: var(--base-unit--s); }
    .u_p--l0 {
      padding-left: 0; }
  .u_p--r {
    padding-right: var(--base-unit); }
    .u_p--r- {
      padding-right: var(--base-unit--s); }
    .u_p--r0 {
      padding-right: 0; }
  .u_p--b {
    padding-bottom: 1.46rem; }
    .u_p--bb {
      padding-bottom: 2.93rem; }
    .u_p--b0 {
      padding-bottom: 0; }
    .u_p--b- {
      padding-bottom: 0.73rem; }

/* scss/7-utilities/_u_hide.scss */
@media screen and (max-width: 480px) {
  .u_hide--to-small {
    display: none; } }

@media screen and (min-width: 480px) {
  .u_hide--from-small {
    display: none; } }

@media screen and (max-width: 720px) {
  .u_hide--to-medium {
    display: none; } }

@media screen and (min-width: 720px) {
  .u_hide--from-medium {
    display: none; } }

@media screen and (max-width: 1318px) {
  .u_hide--to-desktop {
    display: none; } }

@media screen and (min-width: 1318px) {
  .u_hide--from-desktop {
    display: none; } }

.u_hide--always {
  display: none; }

/* scss/7-utilities/_u_fold-limited.scss */
@media (orientation: landscape) {
  .u_fold-limited > * {
    max-height: 66vh; } }

@media (orientation: portrait) {
  .u_fold-limited > * {
    max-height: 80vh; } }

/* scss/7-utilities/_u_edit-in-txp.scss */
.u_edit-in-txp {
  position: absolute;
  z-index: 1;
  opacity: 1;
  cursor: pointer; }
  .u_edit-in-txp.static {
    position: static;
    display: inline-block;
    margin-top: -.5em; }
  .u_edit-in-txp img {
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    top: var(--base-unit--ss); }
  .u_edit-in-txp:hover, .m_menu__child--active a.u_edit-in-txp {
    filter: invert(100%); }

.u_edit-in-txp--image {
  top: calc(var(--base-unit)/3);
  right: var(--base-unit--s); }
  .u_edit-in-txp--image:hover, .m_menu__child--active a.u_edit-in-txp--image {
    filter: invert(100%); }

/* scss/7-utilities/_u_baseline-grid.scss */
.u_baseline-grid {
  position: relative; }
  .u_baseline-grid:after {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9999;
    content: '';
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(//basehold.it/i/24/0/0/0/0.15);
    background-size: 2px 24px; }
  .u_baseline-grid:active:after {
    display: none; }

/* scss/7-utilities/_u_debug.scss */
.u_debug {
  outline: 1px solid rgba(192, 192, 192, 0.5); }
  .u_debug * {
    outline: 1px dotted rgba(192, 192, 192, 0.5); }
  .u_debug--info {
    position: absolute;
    z-index: 10;
    top: 0.49rem;
    left: var(--base-unit);
    font-size: .75rem;
    opacity: 0;
    transition: opacity .3s linear; }
    .l_superimposed .u_debug--info, .m_thumb .u_debug--info {
      color: var(--white); }
    .has--image-omitted .u_debug--info {
      color: var(--black); }
    .u_debug--info.raised {
      margin-top: -0.98rem; }
    .u_debug--info.static {
      position: static; }
    .u_debug--info__holder {
      position: relative; }

*:hover > .u_debug--info, .m_menu__child--active a > .u_debug--info {
  opacity: 1; }

/* scss/7-utilities/_u_span.scss */
.u_span--2 {
  grid-column: span 2; }

@media (min-width: 720px) {
  .u_span--3\@medium {
    grid-column: span 3; }
  .u_span--4\@medium {
    grid-column: span 4; } }

.u_span--full-width {
  grid-column-start: 1;
  grid-column-end: -1; }

/* scss/7-utilities/_u_clamp.scss */
.u_clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }
  .u_clamp > p {
    margin-bottom: 0; }
  .u_clamp > *:not(:first-child) {
    display: none; }
  .u_clamp--2 {
    -webkit-line-clamp: 2; }
  .u_clamp--3 {
    -webkit-line-clamp: 3; }

/* scss/7-utilities/_u_sticky.scss */
.u_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .u_sticky--menu {
    bottom: 0; }

/* scss/7-utilities/_u_contents.scss */
.u_contents {
  display: contents; }

/* scss/7-utilities/_u_filter.scss */
.u_filter--multiply {
  mix-blend-mode: multiply; }

.u_filter--darken {
  mix-blend-mode: darken; }

.u_filter--invert {
  filter: invert(1); }

/* scss/8-project/_p_diy.scss */
#diy-sentinel {
  position: absolute;
  top: 0;
  height: 95%; }

.l_width-limited--space {
  max-width: 1920px; }

.p_diy article ul {
  list-style-type: disc; }

.p_diy .diy__article:not(:first-of-type) {
  margin-top: 25vh; }

.p_diy .diy__article:nth-child(odd) [itemprop="headline"] {
  grid-column-start: 2; }

.p_diy .diy__article:nth-child(odd) [itemprop="description"] {
  grid-column-start: 2; }

.p_diy .diy__article:nth-child(odd) .p_diy__images {
  grid-row-start: 2; }

.p_diy__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 61%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 2.5vw;
  transition: transform .3s ease-in-out; }
  @media screen and (max-width: 480px) {
    .p_diy__menu {
      width: 100%; } }
  .drawing--is-inactive .p_diy__menu {
    transform-origin: top center;
    position: fixed;
    z-index: 100;
    top: 0.98rem;
    left: 0;
    right: 0;
    transform: scale(0.1);
    cursor: pointer; }
    @media screen and (min-width: 720px) {
      .drawing--is-inactive .p_diy__menu {
        top: 2.93rem; } }
    .drawing--is-inactive .p_diy__menu:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      transform: scale(1.5);
      transform-origin: center bottom;
      aspect-ratio: 1/1;
      -webkit-backdrop-filter: blur(3rem);
              backdrop-filter: blur(3rem);
      border-radius: 50%; }
    .drawing--is-inactive .p_diy__menu a {
      display: none; }
    .drawing--is-inactive .p_diy__menu li:after {
      opacity: 1; }
  .p_diy__menu.is-active {
    cursor: auto;
    transform: scale(1); }
    .p_diy__menu.is-active a {
      display: block; }
  .p_diy__menu a {
    font-weight: 400;
    transition: opacity .6s; }
    .p_diy__menu a:hover, .p_diy__menu .m_menu__child--active a, .m_menu__child--active .p_diy__menu a {
      text-decoration: none; }
  .p_diy__menu li {
    position: relative;
    z-index: 1;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1/1; }
    .p_diy__menu li:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: .81;
      transition: all 1.2s ease-in-out; }
    .p_diy__menu li:hover:after {
      transform-origin: 51% 51%;
      transform: scale(1.2) rotateZ(360deg);
      opacity: 1; }
    .p_diy__menu li:nth-child(1):after {
      background-color: var(--red); }
    .p_diy__menu li:nth-child(2):after {
      background-color: var(--bluepale); }
    .p_diy__menu li:nth-child(3):after {
      background-color: var(--green); }
    .p_diy__menu li:nth-child(4):after {
      background-color: var(--pink); }
    .p_diy__menu li:nth-child(5):after {
      background-color: var(--yellow); }
    .p_diy__menu li:nth-child(6) {
      display: none;
      color: var(--black); }
      .p_diy__menu li:nth-child(6):after {
        background-color: var(--white); }
  .p_diy__menu.is-active li:nth-child(6) {
    display: inherit;
    cursor: pointer; }
  .p_diy__menu--plain {
    margin-top: 25vh;
    margin-bottom: 25vh; }
    .p_diy__menu--plain li {
      margin-bottom: initial; }
      .p_diy__menu--plain li:nth-child(1) {
        color: var(--red); }
      .p_diy__menu--plain li:nth-child(2) {
        color: var(--bluepale); }
      .p_diy__menu--plain li:nth-child(3) {
        color: var(--green); }
      .p_diy__menu--plain li:nth-child(4) {
        color: var(--pink); }
      .p_diy__menu--plain li:nth-child(5) {
        color: var(--yellow); }

.p_diy__images--performance figure img {
  -o-object-fit: contain;
     object-fit: contain; }

.p_diy [itemprop="articleBody"] details {
  margin-bottom: 1.46rem; }

@media screen and (max-width: 480px) {
  .p_diy .diy_section-header--spaces + svg {
    transform: scale(1.33); } }

@media screen and (min-width: 480px) {
  .p_diy .diy_section-header--spaces {
    position: absolute;
    width: 100%; } }

.p_diy__footer {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--base-unit--b); }
  .p_diy__footer__dot {
    aspect-ratio: 1/1;
    border-radius: 50%; }

/* scss/8-project/_p_diy-animations.scss */
.animations {
  position: relative; }

.digits__holder {
  overflow: hidden;
  height: 1em;
  padding-right: .1em; }

.temperature .digits {
  transform: translateY(-50%);
  animation: temperature 40s ease-in-out forwards alternate;
  animation-iteration-count: 3; }

.digits span {
  display: block;
  text-align: right; }

.temperature {
  line-height: 1;
  align-self: end; }
  @media screen and (max-width: 480px) {
    .temperature {
      font-size: 15vw;
      align-self: center; } }
@keyframes temperature {
  50% {
    transform: translateY(-50%); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(calc(-100% + 1em)); } }

.wind #modulor {
  animation: blow 40s ease-in-out forwards alternate;
  animation-iteration-count: 10;
  transform-origin: 11% top; }

@keyframes blow {
  0% {
    transform: scaleX(1) rotateZ(0deg); }
  10% {
    transform: scaleX(0.8) rotateZ(2deg); }
  20% {
    transform: scaleX(0.6) rotateZ(20deg); }
  30% {
    transform: scaleX(0.5) rotateZ(35deg); }
  40% {
    transform: scaleX(0.4) rotateZ(44deg); }
  50% {
    transform: scaleX(0.5) rotateZ(45deg); }
  60% {
    transform: scaleX(0.6) rotateZ(41deg); }
  70% {
    transform: scaleX(0.6) rotateZ(35deg); }
  80% {
    transform: scaleX(0.7) rotateZ(30deg); }
  90% {
    transform: scaleX(0.9) rotateZ(5deg); }
  100% {
    transform: scaleX(1) rotateZ(0deg); } }

.birds {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .birds {
      margin-top: -100%; } }
.bird {
  background-image: url(../styles/img/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite; }
  .bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s; }
  .bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s; }
  .bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s; }
  .bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s; }

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .bird-container--one {
    animation-duration: 15s;
    animation-delay: 0; }
  .bird-container--two {
    animation-duration: 16s;
    animation-delay: 1s; }
  .bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s; }
  .bird-container--four {
    animation-duration: 16s;
    animation-delay: 10.25s; }

@keyframes fly-cycle {
  100% {
    background-position: -900px 0; } }

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw); }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4); }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5); }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6); }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6); }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6); }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6); }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6); } }

@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5); }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4); }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6); }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45); }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5); }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45); }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45); }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45); } }

/* scss/8-project/_p_diy-drawings.scss */
.diy-drawing--plan__rain {
  background-image: url("../forms/diy/Ripple-5s-1084px.svg");
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-mask-image: url("../forms/diy/rain-mask.svg");
          mask-image: url("../forms/diy/rain-mask.svg");
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  animation: rain 9s ease-in-out forwards alternate;
  animation-iteration-count: infinite; }
  .drawing--is-inactive .diy-drawing--plan__rain {
    background-image: none; }

.diy-drawing--plan text {
  fill: none; }

svg .boundary {
  stroke: #6D7278;
  stroke-width: .25;
  stroke-dasharray: 18, 3;
  fill: black;
  fill-opacity: .02;
  animation: grow-cycle 12s ease-in-out forwards;
  animation-iteration-count: infinite; }
  .drawing--is-inactive svg .boundary {
    animation: none; }

@keyframes grow-cycle {
  0% { }
  50% {
    stroke-dasharray: 36, 12;
    fill-opacity: .2; }
  100% { } }

@keyframes rain {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  60% {
    opacity: .5; }
  100% {
    opacity: 0; } }

#plan--spaces a {
  cursor: pointer;
  position: relative;
  z-index: 10;
  stroke: white;
  stroke-width: var(--base-unit--ss);
  transition: all .3s ease;
  cursor: pointer; }
  #plan--spaces a.garden {
    opacity: .25; }
    #plan--spaces a.garden:hover, #plan--spaces .m_menu__child--active a.garden, .m_menu__child--active #plan--spaces a.garden {
      opacity: .62; }
  #plan--spaces a.null {
    cursor: default; }
  #plan--spaces a:not(.null):hover, #plan--spaces .m_menu__child--active a:not(.null), .m_menu__child--active #plan--spaces a:not(.null) {
    stroke-width: var(--base-unit--s);
    filter: saturate(200%); }
    #plan--spaces a:not(.null):hover .text, #plan--spaces .m_menu__child--active a:not(.null) .text, .m_menu__child--active #plan--spaces a:not(.null) .text {
      opacity: 1;
      font-size: 80px; }

#plan--spaces .text {
  transition: all .3s ease;
  stroke-width: 0;
  opacity: .75;
  fill: var(--white);
  font-size: 75px;
  font-weight: 400;
  letter-spacing: -.05em; }

.supply,
.convection,
#engine-room-sub {
  stroke: var(--green);
  stroke-opacity: .75;
  stroke-dasharray: 1 64;
  stroke-width: 24;
  stroke-linecap: round;
  animation: dash 5s linear reverse infinite; }

.convection__arrow,
.supply__arrow {
  stroke: var(--green);
  stroke-width: 12;
  stroke-linecap: round; }

.convection {
  stroke: var(--yellow);
  stroke-opacity: .75;
  animation-duration: 15s;
  stroke-dasharray: 1 48;
  stroke-width: 18; }
  .convection__arrow {
    stroke-opacity: .75;
    stroke: var(--yellow); }

#engine-room-sub {
  stroke: var(--bluepale);
  stroke-dasharray: 1 32;
  stroke-width: 12;
  animation-duration: 40s; }

.marker {
  border-radius: 50%;
  width: var(--base-unit);
  height: var(--base-unit);
  margin-right: var(--base-unit--s); }

@keyframes dash {
  to {
    stroke-dashoffset: 1000; } }

/* scss/8-project/_p_diy-space.scss */
.p_diy-space {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'titl titl hero hero' 'excp excp hero hero' 'body body img1 img1' '. . . .'; }
  @media screen and (min-width: 720px) {
    .p_diy-space {
      display: grid; } }
  .p_diy-space__plan {
    margin: 10vh 0; }
  .p_diy-space__hero {
    grid-area: hero;
    display: grid;
    grid-template-rows: subgrid; }
  .p_diy-space [itemprop="headline"] {
    grid-area: titl; }
  .p_diy-space [itemprop="description"] {
    grid-area: excp; }
  .p_diy-space__img1 {
    grid-area: img1; }
  .p_diy-space [itemprop="articleBody"] {
    grid-area: body; }
  .p_diy-space [itemprop="image"] figcaption {
    margin-top: 0 !important; }
  .p_diy-space__gallery {
    grid-template-rows: auto 1fr;
    row-gap: 20vh; }
    .p_diy-space__gallery [itemprop="image"] {
      display: grid;
      grid-template-rows: subgrid 1fr; }
  .p_diy-space__nav {
    width: 160px;
    position: fixed;
    top: 1.46rem;
    z-index: 50; }
    @media screen and (max-width: 1618px) {
      .p_diy-space__nav {
        right: var(--base-unit); } }
    @media screen and (min-width: 1618px) {
      .p_diy-space__nav {
        margin-left: -184px; } }
    .p_diy-space__nav svg {
      border-radius: 50%;
      background: var(--black); }
      .p_diy-space__nav svg polygon,
      .p_diy-space__nav svg path {
        fill: var(--white); }
      .p_diy-space__nav svg a:hover polygon, .p_diy-space__nav svg .m_menu__child--active a polygon, .m_menu__child--active .p_diy-space__nav svg a polygon,
      .p_diy-space__nav svg a:hover path,
      .p_diy-space__nav svg .m_menu__child--active a path,
      .m_menu__child--active .p_diy-space__nav svg a path {
        fill: var(--green); }
      .p_diy-space__nav svg a.active polygon,
      .p_diy-space__nav svg a.active path {
        fill: var(--red); }