/* scss/1-base/_b_fonts.scss */

:root {
    --sans: 'Helvetica Neue', Helvetica, sans;
    --serif: 'Baskerville', serif;
}

@font-face {
    font-family: "Redacted";
    src: url("/themes/all-grid/styles/fonts/redacted/web/redacted-regular.eot");
    src: url("/themes/all-grid/styles/fonts/redacted/web/redacted-regular.woff2") format("woff2"),
         url("/themes/all-grid/styles/fonts/redacted/web/redacted-regular.woff") format("woff"),
         url("/themes/all-grid/styles/fonts/redacted/web/redacted-regular.otf") format("opentype"),
         url("/themes/all-grid/styles/fonts/redacted/web/redacted-regular.svg#filename") format("svg");
 }
