/* scss/1-base/_b_typeset.scss */

html {
  font-size: 100%;
}

/*16px*/
// Using Shevy to control vertical ryhthm of any text copy
// https://kyleshevlin.github.io/shevy/

@include headings($shevy-small);
@include body($shevy-small);
@include content($shevy-small);


@media (min-width: $medium) {
  @include headings;
  @include body;
  @include content;
}


body {
  font-family: var(--sans);
  font-weight: 400;
  color: var(--black);
  background: var(--white);
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}



.b_typeset {
  overflow: auto; // allow for any floated elements

  p,
  li {
    max-width: var(--type-measure);
  }

  ul,
  ol {
    list-style-position: outside;
    list-style-type: square;
  }


  &--lede {
    @include content($shevy-lede);
    @extend .a_heading;

    .bottom & {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  blockquote p {
    &:before {
      content: '“';
    }

    &:after {
      content: '”';
    }

    @include heading($h5-shevy);
    margin: var(--base-unit--b) 0;
  }
}

.b_hyphenate {
  hyphens: auto;
}

.b_centered {
  text-align: center;
}

small,
.b_small {
  font-size: .875rem;
  letter-spacing: initial;
}

.b_small>* {
  @extend small;
}

.b_small--min {
  font-size: .65rem;
}

.b_columns {
  columns: 2;
  column-gap: var(--base-unit);
}